// use as container for summary boxes, which will typically contain different card sizes
.cc-summary, .cc-card-wrapper {
  //margin-bottom: 1rem;

	h3 {
		font-size: 1.1rem;
		margin-bottom: 1rem;
    & + p {
      margin-top: -16px;
      font-size: 0.9rem;
    }
	}
}

.card-ribbon {
  position: absolute;
  overflow: hidden;
  top: -10px;
  right: -10px;
  width: 114px;
  height: 112px;
  span {
    position: absolute;
    display: block;
    width: 160px;
    padding: 10px 0;
    background-color: #3498db;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    right: -35px;
    top: 25px;
    transform: rotate(45deg);
  }
  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
    border-top-color: transparent;
    border-right-color: transparent;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
}

.cc-card {
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 12px;
  background-color: $white;
  font-size: 0.9rem;
  transition: 0.25s all ease-in-out;
  position: relative;

  ///////////////////////////////////////////
  // Hover State
  // NEED WORK because it needs to only hover when it's a link
  ///////////////////////////////////////////

  /*
  &:hover {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
    transform: translate(-1px,-1px);
  }
  */

  ///////////////////////////////////////////
  // Card Sizes
  ///////////////////////////////////////////

  &.large {
  	padding: 32px;
  }

  ///////////////////////////////////////////
  // Card States
  ///////////////////////////////////////////

  &.selected {
    //border-top: 10px solid $primary-blue;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
  }


  ///////////////////////////////////////////
  // BG color versions
  ///////////////////////////////////////////

  &.muted {
  	//background-color: $light-grey-bg;
    background-color: rgba(255,255,255,0.5);
  	h4 {
      //color: $broker-blue;
    }
  }

  &.empty {
  	background-color: transparent;
  	span.muted {color: $text-color; font-size: 1.4rem; font-weight: 600;}
  }

  &.highlight {
  	background-color: $white;
    border-left: 5px solid $primary-blue;
  	//h4, h5, p, span {color: $white;}
  }

  h4 {
	   font-size: 0.9rem;
	   margin-bottom: .75rem;
    color: $text-color;
  }

  h5 {
	  font-size: 1.8rem;
    color: $text-color;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.2rem;
  }

  ///////////////////////////////////////////
  // Media Section
  ///////////////////////////////////////////

  .media {
    margin-bottom: 20px;
    i {
    	color: $primary-blue;
    	font-size: 1.6rem;
    	margin-right: 1.0rem;
    }
    .media-body {
      border-bottom: 1px solid #dfe7ea;
      h5 {
        color: $text-color;
        font-size: 1.2rem;
      }
    }
  }

  &.history-card{
    position: relative;
    padding: 16px 24px;
    min-height: 7.6rem;

    .details-right{
      p{
        font-size: 12px;
        margin-bottom: 0;
        b{
          color:#000;
        }
        &.date-time{
          font-size: 14px;
        }
      }
    }
    .details{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 12px;
      min-height: 42px;
      > span,
      > a {
        width: 50%;
        display: inline-block;
        i {
          margin-right: 4px;
          color: $primary-blue;
        }
      }
    }
    a.btn {
      margin: 22px 0 12px;
      text-transform: uppercase;
      i{
        margin-right: 4px;
      }
    }
  } // end history-card

} // end cc-card