.cc-confirmation {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  padding: 0;
  background-color: $white;

  &-header {
    padding: 12px 0;
    //background-color: $cc-success;
    //color: $cc-success-text;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    i {
      //color: $cc-success-text;
    }
  }

  &-body {
    padding: 40px 55px 24px;

    img {margin-bottom: 5px;}
    h5 {margin-bottom: 35px;}
    

    &-info {
      margin-top: 24px;
    }

    &-message {
      margin-top: 24px;
      text-align: left;
    }

  }

  &-footer {
    padding: 0 55px 40px;
    a.btn {
      display: block;
      width: 100%;
      margin-bottom: .75rem;
    }
  }

}
