.cc-form_employ-application {
  .form-group {

    .d-flex {
      .form-control {
        width: auto;
      }
    }
    a {
      text-decoration: underline;
    }
    select {
      text-transform: uppercase;
    }
    i {
      font-size: 22px;
      margin-top: 6px;
    }
  }
}