[id^=cc-form__] {
	#same_address-error,
	#billing-error,
	#AgreeDisagree1-error,
	#AgreeDisagree2-error,
	#AgreeDisagree3-error,
	#AgreeDisagree4-error{
		display: none !important;
	}

	.form-control-wrap {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: relative;
	  input {
	    padding-left: 20px;
	    color: #929292;
	  }
	  span.currency {
	    position: absolute;
	    top: 2px;
	    left: 6px;
	    font-size: 22px;
	    color: lighten($text-color, 20%);
	  }
	}

	.form-group {
		label {
			//margin-top: .55rem;
			margin-bottom: .015rem;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 0.8rem;
			color: lighten($text-color, 4);
			padding-left: 0.05rem;

			//for use with radio & checkboxes
			&.custom-control-label {
				font-weight: 400;
				text-transform: none;
				padding-top: 2px;
				font-size: 0.9rem;
			}
			&.is-invalid{
				color: red;
				text-transform: initial;
				font-weight: 400;
			}

		}
		small {
			padding-left: 0.05rem;
		}

		// DIV wrapper for Password Fields with show/hide function
		.cc-showhidepwd {
			display: flex;
			justify-content: space-between;
		}

		// Placeholders
		.form-control {

			//placeholder
			&::-webkit-input-placeholder { color: #bbb; }

			//form styling
			//padding: 1.25rem .75rem;
		}

		select.form-control {
		    //text-indent: 5px;
		    &.is-invalid, &.was-validated, &:invalid {
		    	background-image: none; //overrides default X sign on error field for dropdowns
		    }
		}

		input[type=search] {
			background: #fff url("../images/icons/search-icon.png") no-repeat 0 0;
			background-size: 18px;
			background-position: 6px;
			padding-left: 30px;
			//width: 320px;
		}

		input[type=password]::-ms-reveal,
		input[type=password]::-ms-clear
		{
		    display: none;
		}
	}

	.custom-checkbox {
		label.is-invalid {
			display: none !important;
		}
	}

}

.file-upload-box{
	height: 200px;
	background-color: #fff;
	border: 2px dashed $grey;
	display: flex;
	align-items: center;
	justify-content: center;

	.upload-icon{
		font-size: 25px;
		margin-right: 15px;
		height: 65px;
		width: 65px;
		border-radius: 50%;
		border: 1px solid $grey;
		line-height: 60px;
		text-align: center;
	}
	.media-body{
		p{
			margin-bottom: 5px;
		}
	}
}