/////////////////////////////////////////////////////////////////////////////
// Utilities
/////////////////////////////////////////////////////////////////////////////

.bg-w {background-color: $white !important;} //Background Colors
.bg-g {background-color: $very-light-grey !important;} //Background Colors
hr.break {margin: 48px 0;} //HR Separator

/////////////////////////////////////////////////////////////////////////////
// Typography
/////////////////////////////////////////////////////////////////////////////

p.smalltext {font-size: 0.8rem;}
.cc-font-normal {font-weight: 400 !important}
.cc-text-no-transform {text-transform: none !important}

/////////////////////////////////////////////////////////////////////////////
// Icons
/////////////////////////////////////////////////////////////////////////////

i.fa-trash-alt {color: $employers;} //delete
i.fa-file-pdf {color: $primary-blue;} //pdf icon next to a filename

/////////////////////////////////////////////////////////////////////////////
// Widths
/////////////////////////////////////////////////////////////////////////////

.cc {
  &-w10 {width: 10% !important;}
  &-w20 {width: 20% !important;}
  &-w30 {width: 30% !important;}
  &-w40 {width: 40% !important;}
  &-w50 {width: 50% !important;}
  &-w55 {width: 55% !important;}
  &-w60 {width: 60% !important;}
  &-w65 {width: 65% !important;}
  &-w70 {width: 70% !important;}
  &-w75 {width: 75% !important;}
  &-w80 {width: 80% !important;}
  &-w85 {width: 85% !important;}
  &-w90 {width: 90% !important;}
}

/////////////////////////////////////////////////////////////////////////////
// EMPTY STATE
/////////////////////////////////////////////////////////////////////////////

.empty-state {
  background-color: $white;
  min-height: 240px;
  display:grid;
  place-items:center;
  h3 {
    color: $grey;
  }
}
