.cc-modal-showed{
  overflow: hidden;
}
.cc-modal-overlay{
  background-color: rgba(0,0,0,0.5);
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 998;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.cc-modal{
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 720px;
  height: 100%;
  z-index: 999;
  transform: translate(100%, 0);
  transition: 1s;
  -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
  &-inner{
    overflow-y: auto;
    height: 100%;
    padding: 24px 32px 160px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0,0.6);
    }
  }
  &-close{
    float: right;
    cursor: pointer;
  }
  &-body {
    //padding: 10px 20px;
  }
  &-header {
    background-color: $dark-grey;
    color: $white;
    padding: 12px 32px 4px;
    h5 {
      color: $white;
    }
  }
  &-footer {
    padding: 16px 32px 14px 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    &.fixed{
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #fff;
    }
  }
  .form-control-counter{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .fa{
      width: 25px;
      height: 25px;
      font-size: 12px;
      text-align: center;
      line-height: 25px;
      cursor: pointer;
    }
    .fa-plus,.fa-minus{
      border: 1px solid #ddd;
      border-radius: 50%;
    }
    .form-control{
      border: none;
      padding: 5px;
      width: 30px;
      text-align: center;
      background-color: transparent;
    }
  }
  &.show{
    transform: translate(0,0);
  }
}
.cc-confirmation-modal{
  display: none;
  .cc-confirmation {
    //padding: 2px;
    //background-color: #ddd;
    max-width: auto;
    .cc-confirmation-body,
    .cc-confirmation-footer
    {
      background-color: #fff;
    }

  }
}
