
.summary-list{
  list-style: none;
  padding: 0;
  li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #8e8e8e;
    padding: 5px;

    &:before{
      content: '';
      width: 12px;
      height: 12px;
      background-color: $primary-blue;
      margin-right: 8px;
    }

    span{
      margin-left: auto;
    }

    &:last-child{
      color: $primary-blue;
      border-color: #8f8f8f;
      font-weight: 600;
      &:before{
        display: none;
      }
    }
  }
}
.summary-list-last{
  p{
    color: #959595;
    margin: 0;
  }
}