.table thead th{
  border-top: none;
}

.card-table {
  thead {
    tr {
      th {
        border-top: none;
        font-size: 0.8rem;
        text-transform: uppercase;
        &.card-table-highlight {
          background-color: $highlight-color;
        }
        &.th-icon{
          i {
            font-size: 1.6rem;
            margin-bottom: 5px;
            color: $employers;
          }
        }
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: 0.9rem;
        vertical-align: middle;
        &.card-table-highlight {
          background-color: $highlight-color;
        }
        i {
          font-size: 1.1rem;
        }
      }
      &.adjustment-tr{
        td{
          border-top-color: transparent;
          font-style: italic;
        }
      }
      &.adjustment-total-tr{
        td{
          padding: 1rem 0.75rem;
        }
      }
      &.middle-tr{
        th{
          background-color: #eff2f3;
        }
      }
      &.border-top-0{
        td{
          border-top-color: transparent;
        }
      }
    }

    //for borders with no TH, remove top borders
    &.card-table-no-headers {
      tr:first-child td {
        border-top: none;
      }
      tr:first-child th {
        border-top: none;
      }
    }
  }
}

table[id^="cc-table-data"] {

  border-bottom: 1px solid darken($light-grey,4);

  thead {
    tr {
      background-color: $dark-grey;
      .cc-table__product-header {
        background-color: lighten($dark-grey, 3);
        text-align: center;
        &--standard {
          background-color: $dark-grey !important;
          text-align: center;
        }
      }

      th {
        color: white;
        font-size: 0.8rem;
        font-weight: 400;
        padding: 12px 18px 10px 16px;
        vertical-align: middle;
        text-align: left;
        text-transform: uppercase;
        border-bottom: 2px solid $outline-grey;  //added to override datatable th border bottom

        &.text-right-padding {
          padding-right: 1.5rem !important;
          text-align: right !important;
        }

        &.border-l {border-left: 2px solid $dark-grey !important;}
        &.border-r {border-right: 2px solid $dark-grey !important;}

        &.sorting_asc,
        &.sorting_desc {background-color: rgba(0,0,0,0.5);}

        &.sorting,
        &.sorting_asc,
        &.sorting_desc {background-position: 97% 50%;}

        &.sorting      {background-image: url("../images/icons/sort_both.png");}
        &.sorting_asc  {background-image: url("../images/icons/sort_asc.png");}
        &.sorting_desc {background-image: url("../images/icons/sort_desc.png");}

        &.cc-table__product-icon,
        &.cc-table__product-icon--standard {
          //width: 64px;
          padding-left: 0;
          padding-right: 0;
          text-align: center;
          font-size: 0.6rem;
          text-transform: uppercase;
          color: $white;
          line-height: 1rem; //added spacing between icons and icon label
          border-top: 1px solid transparent;
          i {
            font-size: 1.1rem;
            //color: $dark-green;
            //color: $dark-orange;
            color: $employers;
          }
          img {
            width: 15px;
          }
          &.not-available {
            color: darken($grey, 20);
            i {
              color: darken($grey, 20);
            }
          }
          &.fixed-width {
            width: 66px !important;
          }
        }

        &.cc-table__product-icon--standard {
          background-color: $white;
          color: $dark-green;
          border-left: 1px solid $outline-grey;
        }

        //used for empty TH next to product description
        &.cc-table__product-description, &.cc-table__product-empty {
          border-top: none; border-bottom: none;
          padding: 0;
        }

        &.cc-table__product-description {
          text-align: center;
          span {
            position: relative;
            top: 6px;
          }
        }
        &.cc-table__product-empty {
          background-color: $light-grey;
        }
        &.cc-table__border-left {
          border-left: 1px solid $outline-grey;
        }

      }
    }
  }

  tbody {
    tr {
      background-color: $white;

      &.cc-table__gradient-row{background: linear-gradient(to bottom, $white 0%, $white 50%, $very-light-grey 100%);}

      td {
        font-size: 0.9rem;
        padding: 12px 18px 10px 16px;
        vertical-align: middle;
        text-align: left;
        border-top: 1px solid $outline-grey;

        > a {
          //text-decoration: underline;
          color: $primary-blue;
        }

        &.cc-table__product-data {
          text-align: center;
          border-left: 1px solid $white;
          background-color: rgba(244,116,33,0.07);
          //padding-left: 0;
          //padding-right: 0;
        }
        &.cc-table__product-data--standard {
          text-align: center;
          border-left: 1px solid $outline-grey;
        }

        &.border-l {border-left: 2px solid $text-color;}
        &.border-r {border-right: 2px solid $text-color;}

      }
    }

    // Clickable Row
    &.cc-table__clickable {
      tr {
        &:hover {
          background-color: lighten($primary-blue,65);
          cursor: pointer;
        }
      }
    }

    &.cc-table-striped {
      tr {
        &:nth-of-type(odd) {
            background-color: $white;
        }
        &:nth-of-type(even) {
            background-color: $light-grey;
        }
        td {
          border-top: 1px solid transparent;
        }
      }

    }

    // Family Census
    &.cc-table__census {
      tr.cc-table__census--family-employee {
        //background-color: #F0F8FF;
      }
      tr.cc-table__census--family-member {
        //background-color: #F0F8FF;
        //background-image: url("../images/icons/table-arrow-family.png");
        //background-repeat: no-repeat;
        //background-position: 20px 50%;
        //background-size: 28px;
        td {
          border-top: 1px solid $white !important;
          i {
            color: $employers;
            font-weight: 600;
          }
        }
      }
    }
  }

 //Table Helper Classess

  .cc-table__td-action {
    text-align: right;

    .cc-table__td-dropdown {
      .btn {
        min-width: 98px;
        height: 34px;
        padding: 0 2px;
        font-size: 12px;
        font-weight: 600;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        transition: all 0.3s linear;
        box-shadow: none;
        color: $text-color;
        color: $primary-blue;
        border-color: $grey;
        //border-color: $primary-blue;

        &:focus {
          //background-color: lighten($dark-grey, 3);
          background-color: $primary-blue;
          color: white;
        }
      }
      a.dropdown-item {
        font-size: 0.9rem;
        &:hover {
          background-color: $hover-blue;
        }
      }
    }
  }

  .cc-table-row-highlight {
    background-color: $highlight-color;
  }

  .cc-table__detail {
    display: block;
    font-size: 0.8rem;
  }

  .fa-exclamation-square {
    color: $dark-orange;
    margin-left: 4px;
  }

  i.fa-trash-alt {
    color: #f50000;
    font-size: 1.4rem;
  }

  .custom-switch {
    transform: scale(1.3);
    padding-left: 3rem;
  }

  .custom-control-input:checked~.custom-control-label::before {
      color: #fff;
      border-color: $primary-blue;
      background-color: $primary-blue;
  }

  .family-linked {
    padding-left: 2.3rem;
    background-image: url("../images/icons/table-arrow-family.png");
    background-repeat: no-repeat;
    background-position: 1rem 50%;
    background-size: 1rem;
  }

  span.badge {
    display: inline-block;
    //width: 90% !important;
    //font-weight: 400;
    padding: .35em .4em;
    border-radius: 3px;
    text-transform: uppercase;
    &.badge-success {
      background-color: #007bff;
    }
    &.badge-light {
      //border: 1px solid #29A745;
      color: $white;
      background-color: #29A745;
    }
    &.badge-secondary {
      //border: 1px solid #ccc;
      color: #444;
      background-color: #ffc107;
    }
    &.badge-progress {
      border: 1px solid $grey;
      color: $text-color;
      background-color: $light-grey;
    }
  }


  /////////////////////////////////////////////////////////////////////////////
  // Table Form Implementaion. Add class "cc-table-data-form" to CC table ID
  /////////////////////////////////////////////////////////////////////////////
  &.cc-table-data-form {
    input, select {
      display: inline-block;
      font-size: 0.9rem;

      //decreased width to provide space for error tooltip
      width: 80%;
    }

    select.form-control {
        //text-indent: 5px;
        &.is-invalid, &.was-validated, &:invalid {
          background-image: none; //overrides default X sign on error field for dropdowns
        }
    }

    i {
      color: $color-error-bg;
      margin-left: 6px;
    }
  }

  /////////////////////////////////////////////////////////////////////////////
  // Tables Accordion
  /////////////////////////////////////////////////////////////////////////////

  [data-toggle="collapse"]{
    i{

      font-size: 1.2rem;
      transform: rotate(90deg);
      transition: 0.25s all ease-in-out;
      &:before{
        content: "\f138";
      }
    }
    &.collapsed{
      i{
        transform: rotate(0deg);
      }
    }
  }

} //#cc-table-data

/////////////////////////////////////////////////////////////////////////////
// PAGINATION
/////////////////////////////////////////////////////////////////////////////

.dataTables_wrapper{

  .dataTables_filter {
    float: left;
    text-align: left;
    margin-bottom: 0.6rem;

    label{
      text-indent: -56px;
      overflow: hidden;
      input{
        background: #fff url("../images/icons/search-icon.png") no-repeat 0 0;
        background-size: 18px;
        background-position: 6px;
        padding-left: 30px;
        width: 320px;
      }
    }

    input{
      border-radius: 5px;
      min-width: 98px;
      height: 34px;
      padding: 0 2px;
      font-size: 0.9rem;
      font-weight: normal;
      background-color: white;
      border-style: solid;
      border-width: 1px;
      transition: all 0.3s linear;
      box-shadow: none;
      color: #444444;
      border-color: #cccccc;
      margin-left: 0.12em;
    }
  }

  .dataTables_info,
  .dataTables_length,
  .dataTables_paginate {
    color: $text-color;
    font-size: 14px;
    padding: 0 !important;
  }

  .dataTables_info,
  .dataTables_length {
    margin: 14px 0;
  }

  .dataTables_paginate {
    margin: 10px 0;
  }

  //dropdown option for # of entries per page dropdown
  .dataTables_length {
    margin-left: 12px;
    position: relative;
    top: -4px;
    &::before {
      content: "|";
      padding-right: 12px;
    }

    //datatable paging count selector
    select {
      font-size: 13px;
      padding: 4px;
      border-color: $grey;
    }
  }


  .dataTables_paginate{
    .paginate_button{
      border: none;
      background-color: transparent;
      color: $text-color !important;
      //border-radius: 5px;
      padding: 3px 10px;
      min-width: 34px;
      &:hover,
      &.next:hover {
        border: 1px solid $outline-grey;
        color: $text-color !important;
        background-color: $white;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $white), color-stop(100%, $white));
        background: -webkit-linear-gradient(top, $white 0%, $white 100%);
        background: -moz-linear-gradient(top, $white 0%, $white 100%);
        background: -ms-linear-gradient(top, $white 0%, $white 100%);
        background: -o-linear-gradient(top, $white 0%, $white 100%);
        background: linear-gradient(to bottom, $white 0%, $white 100%);
      }
      &.next, &.previous {
        border: 1px solid transparent;
      }
      &.current,
      &.current:hover{
        border-style: solid;
        border-width: 1px;
        background-color: $white;
        color: $text-color;
        border-color: $grey;
        background: $white;
      }
      &.disabled,
      &.disabled:hover {
        opacity: 0.5;
        cursor: not-allowed;
        border: 2px solid transparent;
      }
    }
  }
}

.cc-table__cc-pagination {
  padding: 12px 0;
  .cc-table__cc-pagination--left {
    p {
      vertical-align: middle;
      display: inline-block;
      margin: 0;
      color: $text-color;
      font-size: 15px;
    }
    .row-numbers {
      display: inline-block;
      padding: 0;
      list-style: none;
      margin: 0 0 0 10px;
      li {
        display: inline-block;
        a {
          display: block;
          padding: 3px 6px;
          color: $text-color;
          border-radius: 5px;
          &.active {
            border-style: solid;
            border-width: 2px;
            background-color: $white;
            color: $text-color;
            border-color: $text-color;
          }
        }
      }
    }
  }

  .cc-table__cc-pagination--right {
    .pagination {
      align-items: center;
      .page-item {
        + .page-item {
          margin-left: 5px;
        }
        .page-link {
          border: none;
          background-color: transparent;
          color: $text-color;
          border-radius: 5px;
          padding: 5px 10px;
          min-width: 34px;
          &.active {
            border-style: solid;
            border-width: 2px;
            background-color: $white;
            color: $text-color;
            border-color: $primary-blue;
          }
          &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.datatable-search-form{
  float: right;
  margin-bottom: -36px;
  position: relative;
  z-index: 1;
  label{
    margin-bottom: 0;
    margin-right: 5px;

    .fa-calendar-alt{
      font-size: 1.3em;
      color: $primary-blue;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 6px;
    }
  }
  .form-control{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 0.9rem;

    &.date-field{
      width: 120px;
    }

  }
}

// Inline Form Above Table

form.cc-form-inline-form {

  .form-control{
    font-size: 0.9rem;
   }

  .fa-calendar-alt{
    font-size: 1.3em;
    color: $primary-blue;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 6px;
  }
}

.custom-checkbox{
  .is-invalid{
    ~ i{
      position: absolute;
      left: 38px;
      top: 5px;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////
// Tables Lean
// use as <table class="table table-borderless table-lean">
// EX: used in Benefit Detail as nested tables
/////////////////////////////////////////////////////////////////////////////

table.table-lean {
  margin-bottom: 0;
  td {
    padding: 0 0 0 0.75rem !important;
    &:first-child {
      padding: 0 0 0 0 !important;
    }
  }
}

///////////////////////////////////////////////////////
// ee-ole-medical
///////////////////////////////////////////////////////
.cc-tag-td{
  position: relative;
  .tag {
    background-color: $primary-blue;
    color: #fff;
    padding: 3px 16px;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 4px 4px 0;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10px 50%, 0% 0%);
  }
}



///////////////////////////////////////////////////////
// ee-ole-medical-compare
///////////////////////////////////////////////////////
.plan-table{
  border-collapse: separate;
  border-spacing: 10px 0;
  thead{
    .plan-td{
      &.active{
        border-top: 1px solid #dee2e6;

        .cc-card{
          background-color: transparent;
        }
      }
    }
  }
  .plan-td {
    &.active{
      background-color: #fff;
      border-left: 1px solid #dee2e6;
      border-right: 1px solid #dee2e6;
    }
    &.highlight{
      background-color: #FEF5EF;
    }
  }
  tbody{
    tr{
      &:last-child{
        .plan-td{
          &.active{
            border-bottom: 1px solid #dee2e6;
          }
        }
      }
    }
  }
}
