/////////////////////////////////////////////////////////////////////////////
// GLOBAL VARIABLES
/////////////////////////////////////////////////////////////////////////////

$site-max-width: 1083px !default;
$sm-em: 	"only screen and (min-width: 36em)";	// ≥ 576px
$md-em: 	"only screen and (min-width: 48em)";	// ≥ 768px
$lg-em: 	"only screen and (min-width: 62em) ";	// ≥ 992px
$xl-em: 	"only screen and (min-width: 75em)";	// ≥ 1200px

$xs-only:   "(max-width: 575.98px)";
$sm-only:   "(min-width: 576px) and (max-width: 767.98px)";
$md-only:   "(min-width: 768px) and (max-width: 991.98px)";
$lg-only:   "(min-width: 992px) and (max-width: 1199.98px)";
$xl-only:   "(min-width: 1200px)";

$sm-down:   "only screen and (max-width: 767.98px)";
$md-down:   "only screen and (max-width: 991.98px)";
$lg-down:   "only screen and (max-width: 1199.98px)";

$image-path: '../img';
$icons-path: $image-path + '/icons';


/////////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY
/////////////////////////////////////////////////////////////////////////////

$font-family-main: 'Open Sans', sans-serif;
$font-family-header: 'Lato', sans-serif;

/////////////////////////////////////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////////////////////////////////////
$primary-color			: #007dc3 !default;		// blue
$secondary-color		: #04cbf4 !default;		// sky blue
$secondary-color-light	: #f2e09c !default;		// light yellow
$tertiary-color			: #73694f !default;		// dark yellow
$accent-color			: #14ba65 !default;		// pink
$link-color				: #1570a5 !default;		
$secondary-bg-color		: #0672a5 !default;

$primary-blue	: #007dc3 !default;		// blue
$primary-yellow	: #E0B431 !default;		// yellow
$primary-green	: #6db338 !default;		// green

$alert-color	: #f04124 !default;		// cinnabar
$success-color	: #58bb71 !default;		// sea-green
$warning-color	: #f08a24 !default;		// carrot
$info-color		: #526f79 !default;		// cornflower
$danger-color	: #f57567 !default;

//Forms
$placeholder-color: #94a8b1;

//fonts
$font-color: #3c434a;

//buttons colors
$anchor-link-hover-color: #1358A5;
$green-btn : #14bb67;
$green-btn-hover : rgba(20,187,103,0.8);
$form-label-color: #91a8b0;
$form-control-border-color: #cbdde3;

$btn-outline-bg-clr: #fff;
$btn-outline-border-clr: #dde8ec;

$view-noty-btn-font-clr: #526f79;
$view-noty-btn-border-clr: #dde8ec;
$view-noty-btn-bg-clr: #fff;


// We use these to control various global styles
$body-bg			: #f7f7f7 !default;
$body-font-color	: #222 !default;
$body-font-style	: normal !default;
$main-bg-color      : #000206 !default;
$nav-font			: #ececec;
$base-bg-color      : #ffffff;
