/*

     @include grid-md {
        min-height: 40vh;        
    }    

*/
/*--------------------------------------
Html and Body
--------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #324b50;
  background-color: #EFF2F3;
  padding-bottom: 96px; }

p {
  font-size: 14px;
  letter-spacing: 0.01em; }
  @media (max-width: 575.98px) {
    p {
      font-size: 16px;
      line-height: 1.6em; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600; }

input:focus {
  outline: none;
  box-shadow: none; }

/*------------------------
    Buttons Style
--------------------------*/
.btn {
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: .65rem 1.5rem; }
  .btn:hover, .btn:focus, .btn:active {
    outline: none;
    box-shadow: none; }
  .btn-lg {
    padding: 1.157rem 2.5rem; }
  .btn-white {
    background-color: #fff;
    color: #f79f6f;
    font-weight: 700; }
  .btn-primary {
    background-color: #1570a5;
    color: #fff;
    border-color: transparent; }
    .btn-primary:hover, .btn-primary.hover, .btn-primary:focus {
      background-color: #2490d0;
      color: #fff;
      border-color: transparent; }
    .btn-primary.disabled {
      background-color: #8ab8d2;
      border-color: transparent; }
  .btn-secondary {
    background-color: transparent;
    color: #1570a5;
    border-color: #dde8ec; }
    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary.hover {
      background-color: transparent;
      color: #1570a5;
      border-color: #1570a5; }
    .btn-secondary:active, .btn-secondary.active {
      background-color: #1570a5 !important;
      color: #fff !important;
      border-color: transparent !important; }

.icn-btn-left i {
  margin-right: 15px; }

.icn-btn-right i {
  margin-left: 15px; }

.rounded-btn {
  border-radius: 25px; }

/*------------------------
    Custom Icons
--------------------------*/
.custom-icon {
  display: inline-block;
  vertical-align: middle; }

.play-icon {
  width: 26px;
  height: 30px;
  background: url("../img/icons/play-video-icon.png") no-repeat 0 0; }

/*--------------------------------------
Header
--------------------------------------*/
.header {
  padding: 48px 0; }
  @media (max-width: 575.98px) {
    .header .login-btn {
      display: none; } }
  .header .header-nav {
    display: flex; }
    @media (max-width: 575.98px) {
      .header .header-nav .brand {
        max-width: 200px;
        margin-top: 6px;
        margin-left: auto; } }

/*--------------------------------------
Footer
--------------------------------------*/
.footer {
  padding-top: 50px; }

@media (max-width: 575.98px) {
  .footer-widget {
    margin-bottom: 50px; } }
.footer-widget img {
  margin-bottom: 30px; }
  @media (max-width: 575.98px) {
    .footer-widget img {
      margin-left: auto;
      margin-right: auto;
      display: block; } }
.footer-widget h4 {
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 30px;
  line-height: 41px; }
  @media (max-width: 575.98px) {
    .footer-widget h4 {
      text-align: center;
      line-height: 1.4em;
      margin-bottom: 0;
      text-transform: uppercase; } }
.footer-widget p {
  font-size: 16px;
  line-height: 24px; }
  .footer-widget p + div {
    margin-top: 32px; }
.footer-widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 16px;
  line-height: 30px; }
  @media (max-width: 575.98px) {
    .footer-widget ul {
      text-align: center; } }
  .footer-widget ul.icn-list > li {
    position: relative;
    padding-left: 30px; }
    @media (max-width: 575.98px) {
      .footer-widget ul.icn-list > li {
        padding-left: 0; } }
    .footer-widget ul.icn-list > li i:first-of-type {
      position: absolute;
      left: 0;
      font-size: 21px;
      top: 5px;
      color: #7f9498; }
      @media (max-width: 575.98px) {
        .footer-widget ul.icn-list > li i:first-of-type {
          position: static;
          margin-right: 12px; } }
.footer-widget .form-control {
  color: #abbccc;
  padding: 1rem 0;
  border-radius: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7f9498;
  margin-bottom: 15px; }
  .footer-widget .form-control::-webkit-input-placeholder {
    color: #abbccc; }
  .footer-widget .form-control:-moz-placeholder {
    color: #abbccc; }
  .footer-widget .form-control::-moz-placeholder {
    color: #abbccc; }
  .footer-widget .form-control:-ms-input-placeholder {
    color: #abbccc; }
@media (max-width: 575.98px) {
  .footer-widget form {
    max-width: 314px;
    margin: 0 auto;
    text-align: center; } }
.footer-widget form .btn {
  margin-top: 32px; }
  .footer-widget form .btn i {
    color: #abbccc; }
@media (max-width: 575.98px) {
  .footer-widget.widget-one .btn {
    margin-bottom: 10px; } }

.footer-menu {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0; }
  .footer-menu > li {
    display: inline-block;
    padding: 0 15px; }
    .footer-menu > li > a {
      color: #fff; }
      .footer-menu > li > a:hover {
        text-decoration: none; }

.footer-bottom {
  border-top: 1px solid #1e2b36;
  margin-top: 90px;
  color: #fff;
  display: flex;
  align-items: center;
  min-height: 134px; }
  @media (max-width: 575.98px) {
    .footer-bottom {
      margin: 0 -15px;
      padding: 40px 20px;
      flex-direction: column; } }
  .footer-bottom p {
    font-size: 16px;
    display: inline-block;
    margin: 0; }
    @media (max-width: 575.98px) {
      .footer-bottom p {
        order: 2; } }
    .footer-bottom p + .footer-menu {
      border-left: 1px solid #fff;
      margin-left: 24px; }
      @media (max-width: 575.98px) {
        .footer-bottom p + .footer-menu {
          order: 3;
          border-left: none;
          margin-left: 0;
          margin-top: 20px; } }
  .footer-bottom .footer-menu.right {
    margin-left: auto; }
    @media (max-width: 575.98px) {
      .footer-bottom .footer-menu.right {
        margin-left: 0;
        margin-bottom: 20px; } }

/*------------------------
    Default Style
--------------------------*/
/*------------------------
    Main Header Style
--------------------------*/
.main-header {
  background-color: #fff; }
  .main-header .header-inner {
    display: flex;
    min-height: 88px;
    align-items: center;
    justify-content: space-between; }
  .main-header .brand img {
    max-width: 260px; }
  .main-header .version-info h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #3c434a; }
  .main-header .version-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.01em;
    color: #3c434a; }

.top-section {
  background-color: #00529C;
  color: #fff;
  padding: 55px 0; }
  .top-section h1 {
    font-size: 48px;
    font-weight: 300; }
  .top-section p {
    font-size: 18px;
    line-height: 36px;
    font-weight: 300;
    margin-bottom: 0; }

.tabs-section {
  padding-top: 50px; }
  .tabs-section .nav-tabs {
    border-bottom: 0; }
    .tabs-section .nav-tabs .nav-item .nav-link {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: #7d7d7d;
      border: none;
      border-bottom: 3px solid transparent;
      padding: 12px 0 6px;
      margin: 0 15px; }
      .tabs-section .nav-tabs .nav-item .nav-link.active {
        color: #1570a5;
        border-bottom-color: #1570a5;
        background-color: transparent; }
    .tabs-section .nav-tabs .nav-item:first-child .nav-link {
      margin-left: 0; }
  .tabs-section .tab-content > .tab-pane {
    padding-top: 24px; }
    .tabs-section .tab-content > .tab-pane h1 {
      font-size: 32px;
      font-weight: 400;
      margin-top: 42px;
      margin-bottom: 4px; }
      .tabs-section .tab-content > .tab-pane h1 .custom-checkbox {
        float: right;
        font-size: 16px;
        text-transform: initial;
        line-height: 24px; }
    .tabs-section .tab-content > .tab-pane h2 {
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 42px;
      margin-bottom: 4px;
      color: #444; }
    .tabs-section .tab-content > .tab-pane h6 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 4px;
      color: #444; }
    .tabs-section .tab-content > .tab-pane p {
      font-size: 18px;
      line-height: 36px;
      font-weight: 300;
      margin-bottom: 0; }

.buttons-group {
  padding: 50px 0;
  margin-top: 5px; }

.component-thumbnail {
  padding: 8px 0 24px;
  margin-top: 5px;
  position: relative; }
  .component-thumbnail img {
    max-width: 100%;
    transition: 0.75s filter ease-in-out;
    -webkit-transition: 0.75s -webkit-filter ease-in-out;
    -moz-transition: 0.75s -moz-filter ease-in-out;
    -ms-transition: 0.75s -ms-filter ease-in-out;
    -o-transition: 0.75s -o-filter ease-in-out; }
  .component-thumbnail .devnote {
    position: absolute;
    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ffff88), color-stop(82%, #ffff88), color-stop(82%, #ffff88), color-stop(100%, #ffffc6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #E8E8E8;
    border-bottom-right-radius: 40px 4px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 22px 8px 8px 16px;
    width: 320px;
    opacity: 0;
    box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, 0.3);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .component-thumbnail .devnote.large {
      width: 460px; }
    .component-thumbnail .devnote:nth-child(odd) {
      transform: rotate(-2deg) skew(-1deg, 1deg); }
    .component-thumbnail .devnote:nth-child(even) {
      transform: rotate(0.5deg) skew(-1deg, 1deg); }
    .component-thumbnail .devnote p {
      color: #000;
      font-size: 0.8rem !important;
      line-height: 16px !important;
      margin-bottom: 8px !important; }
      .component-thumbnail .devnote p span {
        font-family: 'Roboto Mono', monospace;
        font-weight: 600; }
    .component-thumbnail .devnote:before {
      content: "";
      position: absolute;
      left: calc(50% - 30px);
      top: -4px;
      font-size: 1.4rem;
      background-image: url("../img/thumbtack.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 56px;
      background-size: 62%; }
    .component-thumbnail .devnote .component-notes {
      background-color: #fff;
      padding: 18px 12px; }
      .component-thumbnail .devnote .component-notes ul {
        margin-bottom: 0; }
        .component-thumbnail .devnote .component-notes ul li {
          font-size: 0.9rem;
          padding-bottom: 12px; }
          .component-thumbnail .devnote .component-notes ul li span {
            display: inline-block;
            background-color: red;
            color: #C32D1C;
            padding: 2px 5px;
            font-size: 0.8rem;
            font-family: courier;
            margin: 0 8px;
            font-weight: 600; }
    .component-thumbnail .devnote:hover {
      background-color: #fef069; }
  .component-thumbnail.devnote-wrapper:after {
    content: "-- hover over image to view technical details --";
    color: #00529C;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    display: block;
    margin-top: 6px; }
  .component-thumbnail.devnote-wrapper:hover img {
    filter: blur(1.2px); }
  .component-thumbnail.devnote-wrapper:hover .devnote {
    opacity: 1; }
    .component-thumbnail.devnote-wrapper:hover .devnote:hover {
      border: 1px solid #dcdbdb;
      border-bottom-right-radius: 90px 9px; }

.code-area {
  border: 1px solid #dfe3e6;
  background-color: #f5f7fa;
  position: relative;
  margin-bottom: 80px; }
  .code-area:before {
    content: '';
    background-color: #dfe5ef;
    width: 56px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .code-area .code {
    padding: 25px 25px 25px 0;
    display: block; }
    .code-area .code pre {
      font-family: 'Poppins', sans-serif;
      letter-spacing: 0.01em;
      color: #cdd1d4;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 0; }
      .code-area .code pre ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .code-area .code pre ul > li {
          position: relative;
          padding-left: 81px; }
          .code-area .code pre ul > li .line-num {
            position: absolute;
            left: 0;
            top: 0;
            width: 56px;
            padding: 0 18px;
            text-align: right;
            color: #3c434a; }
      .code-area .code pre .purple {
        color: #c22dd5; }
      .code-area .code pre .green {
        color: #5b8121; }

/*------------------------
    Tables
--------------------------*/
table.table tbody.small-body td, table.table tbody.small-body li, table.table tbody.small-body p {
  font-size: 0.8rem; }

/*------------------------
    Components Samples
--------------------------*/
.color-pallete {
  border: 1px solid #efefef;
  box-shadow: 1px 2px 0px #bababa; }
  .color-pallete .colorBlock {
    height: 100px;
    padding-bottom: 12px; }
  .color-pallete .colorDesc {
    padding: 10px;
    background-color: #fff; }
    .color-pallete .colorDesc h3 {
      font-size: 1.35rem; }
    .color-pallete .colorDesc aside {
      width: 30%;
      display: inline-block;
      color: rgba(0, 0, 0, 0.4); }

/*------------------------
    Overrides
--------------------------*/
div.code-toolbar > .toolbar {
  top: 24px;
  right: 8px; }

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: transparent; }

pre[class*="language-"]:before, pre[class*="language-"]:after {
  box-shadow: 0px 8px 4px #979797; }

/*------------------------
    Helpers
--------------------------*/
span.code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  background-color: yellow;
  padding: 2px 6px; }

hr.break {
  margin: 62px 0; }

span.demo-link {
  font-size: 1.0rem;
  color: grey; }

/*# sourceMappingURL=uikit-styles.css.map */
