@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/*

     @include grid-md {
        min-height: 40vh;        
    }    

*/
/*--------------------------------------
Html and Body
--------------------------------------*/
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

body {
  background-color: #eff2f3;
}

a {
  color: #00529c;
}
a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 48em) {
  .container {
    max-width: 1280px;
  }
}

.btn {
  border-radius: 5px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border: none;
  padding: 8px 24px;
  text-transform: uppercase;
}

.btn-white {
  background-color: #fff;
  color: #444444;
  border: 2px solid transparent;
}
.btn-white i {
  color: #00529c;
}

.btn-white-outline {
  border: solid 1px white;
  color: white;
  background-color: transparent;
}

.btn-grey-outline {
  color: #00529c;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: none;
  text-transform: capitalize;
}

/*--------------------------------------
Header
--------------------------------------*/
header {
  min-height: 85px;
  background-color: #F7F9FB;
  border-bottom: 6px solid #00529c;
}
header .wrapper {
  background-repeat: no-repeat;
  background-size: 260px;
  background-image: url("../images/calchoicelogo.png");
  padding-left: 260px;
  background-position: 0 20px;
  height: 88px;
}
header .navbar-brand {
  max-width: 240px;
}
header .navbar-brand img {
  width: 100%;
}
header .main-nav {
  padding: 30px 0;
}
header .main-nav .navbar-nav .nav-item {
  margin-right: 45px;
}
header .main-nav .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  color: #444;
}
header .main-nav .navbar-nav li:first-child {
  margin-left: 41px;
}

/*--------------------------------------
Banner
--------------------------------------*/
#banner {
  padding: 42px 0 0;
  background-color: #fff;
}
#banner h2 {
  font-size: 27px;
  color: #444;
}
#banner p {
  font-size: 15px;
  color: #444;
}
#banner .banner-menu {
  display: flex;
  justify-content: flex-end;
}
#banner .banner-menu .btn.primary, #banner .banner-menu .btn.secondary {
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.45);
}
#banner .banner-menu .btn.primary {
  border-style: solid;
  border-width: 1px;
  background-color: #00529c;
  border-color: #00529c;
  color: #fff;
}
#banner .banner-menu .dd-transparent .btn.secondary {
  border-style: solid;
  border-width: 1px;
  min-width: 84px;
  background-color: #fff;
  border-color: #00529c;
  color: #00529c;
}
#banner .nav {
  margin-top: 40px;
}
#banner .nav .nav-link {
  font-size: 15px;
  padding-bottom: 15px;
  border-bottom: 4px solid transparent;
  padding-bottom: 6px;
  color: #444;
  /*
  &:hover {
    color: #fff;
  }
  */
}
#banner .nav .nav-link.active, #banner .nav .nav-link:focus {
  font-weight: 600;
  border-bottom: 5px solid;
  padding-bottom: 8px;
  color: #444;
  border-bottom-color: #00529c;
  color: #444;
}
#banner .nav-steps {
  padding: 13px 0;
  margin-top: 30px;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(#fff 0%, #EFF2F3 70%, #EFF2F3 100%);
}
#banner .nav-steps a {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 5px;
  opacity: 0.4;
  font-size: 15px;
  font-weight: 400;
  color: #444;
  position: relative;
}
#banner .nav-steps a.active {
  font-weight: 400;
  background-color: #00529C;
  color: #fff;
}
#banner .nav-steps a.active span {
  border-width: 2px;
  border-style: solid;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 9px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  line-height: 27px;
  border-color: #fff;
  font-weight: 600;
}
#banner .nav-steps a.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 12px 0 12px 12px;
  border-style: solid;
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -12px;
  border-color: transparent transparent transparent #00529C;
}
#banner .nav-steps a.prev, #banner .nav-steps a.active {
  opacity: 1;
}
#banner .nav-steps a span {
  border-width: 2px;
  border-style: solid;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 9px;
  font-size: 15px;
  text-align: center;
  color: #444;
  line-height: 27px;
  border-color: #444;
  font-weight: 600;
}
#banner .nav-steps.v2 a {
  padding: 15px 10px 15px 25px;
  margin-right: 15px;
}
#banner .nav-steps.v2 a.active:after {
  border-width: 27px 0 27px 27px;
  right: -27px;
  top: 2px;
  margin-top: 0;
}

/*--------------------------------------
Body
--------------------------------------*/
.cc-body {
  padding: 42px 0 120px;
}
.cc-body h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

/*--------------------------------------
Button Controls
--------------------------------------*/
.cc-controls {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.92);
}
.banner-theme.option .cc-controls {
  background-color: rgba(83, 83, 83, 0.92);
}
.cc-controls .left .btn-link, .cc-controls .right .btn-link {
  text-decoration: underline;
  font-size: 14px;
  color: #444;
}
.banner-theme.option .cc-controls .left .btn-link,
.banner-theme.option .cc-controls .right .btn-link {
  color: #fff;
}
.cc-controls .btn {
  color: #fff;
  background-color: #00529c;
  line-height: 28px;
}
.cc-controls .right {
  margin-left: auto;
}
.cc-controls .right a {
  margin-left: 55px;
}
.cc-controls .right .btn {
  margin-left: 70px;
}
.cc-controls.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.1);
}

/*--------------------------------------
Footer
--------------------------------------*/
footer {
  background-color: #2d343e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575c63;
}

.cc-table {
  border: 1px solid #dee2e6;
}
.cc-table thead tr {
  background-color: #535353;
}
.cc-table thead tr th {
  color: white;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 24px;
  vertical-align: middle;
  text-align: left;
}
.cc-table thead tr th .th-sort {
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: -5px;
}
.cc-table thead tr th .th-sort a {
  display: block;
  margin-bottom: -11px;
  margin-left: 6px;
}
.cc-table thead tr th .th-sort a i {
  color: white;
}
.cc-table tbody tr:nth-child(odd) {
  background-color: #fff;
}
.cc-table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}
.cc-table tbody tr td {
  font-size: 15px;
  padding: 10px 24px;
  vertical-align: middle;
  text-align: left;
}
.cc-table tbody tr td > a {
  color: #00529c;
}
.cc-table .td-action {
  text-align: right;
}
.cc-table .td-action .td-dropdown .btn {
  min-width: 98px;
  height: 34px;
  padding: 0 2px;
  font-size: 12px;
  font-weight: 600;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  transition: all 0.3s linear;
  box-shadow: none;
  color: #444;
  border-color: #ccc;
}
.cc-table .td-action .td-dropdown .btn:focus {
  background-color: #5b5b5b;
  color: white;
}

/*--------------------------------------
Pagination
--------------------------------------*/
.cc-pagination {
  padding: 12px 0;
}
.cc-pagination .left p {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  color: #444;
  font-size: 15px;
}
.cc-pagination .left .row-numbers {
  display: inline-block;
  padding: 0;
  list-style: none;
  margin: 0 0 0 10px;
}
.cc-pagination .left .row-numbers li {
  display: inline-block;
}
.cc-pagination .left .row-numbers li a {
  display: block;
  padding: 3px 6px;
  color: #444444;
  border-radius: 5px;
}
.cc-pagination .left .row-numbers li a.active {
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  color: #444;
  border-color: #00529c;
}
.cc-pagination .right .pagination {
  align-items: center;
}
.cc-pagination .right .pagination .page-item + .page-item {
  margin-left: 5px;
}
.cc-pagination .right .pagination .page-item .page-link {
  border: none;
  background-color: transparent;
  color: #444444;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: 34px;
}
.cc-pagination .right .pagination .page-item .page-link.active {
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
  color: #444;
  border-color: #00529c;
}
.cc-pagination .right .pagination .page-item .page-link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.custom-control.custom-checkbox label:before {
  border-radius: 0 !important;
  border: 2px solid rgba(117, 119, 122, 0.8);
  width: 17px;
  height: 17px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00529c;
  border: 2px solid #00529c;
  background-color: #00529c;
  border-color: #00529c;
}

select.form-control,
input.form-control {
  padding: 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #a4a0a0;
  border-radius: 0;
  margin-bottom: 10px;
}
select.form-control:focus,
input.form-control:focus {
  color: #3c3f52 !important;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  border-color: #a4a0a0;
}

.custom-form-group {
  position: relative;
}
.custom-form-group label {
  position: absolute;
  top: 13px;
  font-size: 16px;
  color: #999999;
  transition: all 0.2s linear;
}
.custom-form-group input:focus, .custom-form-group input:valid {
  border-bottom-color: #00529c;
  border-bottom-color: #00529c;
}
.custom-form-group input:focus + label, .custom-form-group input:valid + label {
  top: -14px;
  font-size: 13px;
}

.border-left-md {
  border-left: 1px solid #d0d4d5;
}

.cc-body .quote-includes {
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
  padding: 29px 16px;
}
.cc-body .quote-includes .row {
  text-align: center;
}
.cc-body .quote-includes i {
  font-size: 2em;
  color: #00529c;
  margin-bottom: 0.2em;
}
.cc-body .quote-includes h4 {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #444;
}
.cc-body .quote-includes ul {
  padding: 0;
  margin: 0;
}
.cc-body .quote-includes ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
.cc-body .quote-includes ul li + li {
  margin-top: 15px;
}
.cc-body .quote-optional h4 {
  font-size: 19px;
  margin-bottom: 20px;
}
.cc-body .quote-optional ._right {
  margin-left: 100px;
}
.cc-body .quote-optional ._right label {
  margin-left: 10px;
  color: #7d7f82;
  font-weight: 400;
  font-size: 15px;
}
.cc-body .quote-optional ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cc-body .quote-optional ul li {
  padding: 14px 18px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.cc-body .quote-optional ul li.active {
  background: white;
}
.cc-body .quote-optional ul li + li {
  margin-top: 10px;
}
.cc-body .quote-optional ul li label {
  color: #00529c;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
}
.cc-body label a, .cc-body p a {
  color: #00529c;
  text-decoration: none;
}
.cc-body .d-flex select.form-control {
  width: 17%;
  height: calc(1.4em + 0.4rem + 2px);
  padding: 0;
  padding-bottom: 10px;
  color: #3c3f52;
  margin-left: 15px;
  font-size: 18px;
}
.cc-body .info-section {
  background-color: #fff;
  padding: 36px 0;
  margin: 30px 0;
  border-radius: 6px;
}
.cc-body .info-section .info-box {
  padding-left: 15px;
}
.cc-body .info-section .info-box i {
  display: flex;
  font-size: 26px;
  margin-right: 8px;
  color: #00529c;
}
.cc-body .info-section .info-box h4 {
  font-size: 24px;
  margin-bottom: 12px;
}
.cc-body .info-section .info-box P {
  font-size: 14px;
  color: #00529c;
  margin: 0;
}
.cc-body .delivery-email label {
  color: #00529c;
  font-size: 16px;
  margin: 0;
}
.cc-body .delivery-email .form-control {
  width: 51%;
  font-size: 14px;
  color: #6e6e6e;
}
.cc-body .delivery-email p {
  color: #75777a;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 12px;
}

#broker-enrollment-quote i {
  color: #00529c;
  font-size: 1.4em;
}
#broker-enrollment-quote i.excluded {
  color: #a7a7a7;
}
#broker-enrollment-quote i.major {
  font-size: 1.8em;
}

.summary-quote {
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px 20px;
}
.summary-quote .summary-content-inner {
  align-items: flex-start;
}
.summary-quote .summary-content-inner ._summary-left p {
  font-size: 15px;
  color: #2e343d;
}
.summary-quote .summary-content-inner ._summary-left h5 {
  font-size: 15px;
  color: #000;
}
.summary-quote .summary-content-inner ._summary-left .counter-number {
  font-size: 22px;
  color: #000;
  font-weight: 500;
}
.summary-quote .summary-content-inner ._summary-right .media {
  padding: 18px;
  border: 1px solid #d0d4d5;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, #d7d7d7 0%, white 100%);
  background-image: -webkit-linear-gradient(90deg, #d7d7d7 0%, white 100%);
  background-image: -ms-linear-gradient(90deg, #d7d7d7 0%, white 100%);
  margin-bottom: 15px;
}
.summary-quote .summary-content-inner ._summary-right .media h5 {
  font-weight: bold;
  color: #444444;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}
.summary-quote .summary-content-inner ._summary-right .media h6 {
  font-size: 15px;
  font-weight: 400;
  color: #2e343d;
  margin-bottom: 0;
}
.summary-quote .summary-content-inner ._summary-right .media .counter-number {
  color: #00529c;
  font-weight: 500;
  font-size: 20px;
}
.summary-quote .summary-content-inner ._summary-right .media p {
  font-size: 13px;
  color: #75777a;
  margin-top: 8px;
}
.summary-quote .summary-content-inner ._summary-right .medical-option,
.summary-quote .summary-content-inner ._summary-right .dental-option {
  border: 1px solid #d0d4d5;
  border-radius: 5px;
  background-color: #f6f6f6;
  padding: 15px;
}
.summary-quote .summary-content-inner ._summary-right .medical-option img,
.summary-quote .summary-content-inner ._summary-right .dental-option img {
  margin-right: 12px;
}
.summary-quote .summary-content-inner ._summary-right .medical-option p,
.summary-quote .summary-content-inner ._summary-right .dental-option p {
  display: inline;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  color: #a7a7a7;
}
.summary-quote .summary-content-inner ._summary-right .medical-option .badge,
.summary-quote .summary-content-inner ._summary-right .dental-option .badge {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  background-color: #acacac;
}
.summary-quote .summary-content-inner ._summary-right .medical-option.active p,
.summary-quote .summary-content-inner ._summary-right .dental-option.active p {
  color: #444444;
}
.summary-quote .summary-content-inner ._summary-right .medical-option.active .badge,
.summary-quote .summary-content-inner ._summary-right .dental-option.active .badge {
  display: none;
}

.option-box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 18px 30px 18px;
  text-align: center;
  transition: all 0.2s linear;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 25px;
  border-radius: 5px;
}
.option-box h4 {
  font-size: 18px;
  font-weight: bold;
}
.option-box .bottom .btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 39px;
  min-width: 100px;
  padding: 7px 32px 10px 32px;
  color: #444444;
}
.option-box .bottom .btn:hover {
  border: 1px solid transparent;
  color: white;
  background-color: #00529c;
}
.option-box .bottom .btn i {
  margin-right: 3px;
}
.option-box p {
  font-size: 15px;
}
.option-box.active {
  border: 2px solid #00529c;
  background-color: white;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
  border-color: #00529c;
}
.option-box.active .bottom .btn {
  border: 2px solid transparent;
  color: white;
  background-color: #00529c;
}
.option-box:hover {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.contribution-selection, .contribution-description {
  background-color: white;
  padding: 45px 32px 45px 32px;
  margin-top: 5px;
}
.contribution-selection h3, .contribution-description h3 {
  font-size: 16px;
  font-weight: 500;
  color: #2e343d;
}

.contribution-description p {
  font-size: 12px;
}

.contribution-description td, th {
  font-size: 13px;
  text-align: center;
}

.box {
  padding: 25px;
  border-radius: 5px;
}
.box-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2e343d;
}
.box-title + *:not(.box-desc) {
  margin-top: 25px;
}
.box-title + .box-desc {
  margin-top: 8px;
}
.box-desc {
  font-size: 15px;
  margin-bottom: 25px;
}

.media-carousel {
  margin-bottom: 35px;
  position: relative;
}
.media-carousel .media .img {
  width: 85px;
  margin-right: 13px;
}
.media-carousel .media h5 {
  font-size: 15px;
  color: #2e343d;
}
.media-carousel .media p {
  font-size: 15px;
  color: #2e343d;
  margin-bottom: 0;
}
.media-carousel .owl-dots {
  position: absolute;
  right: 25px;
}
.media-carousel .owl-dots .owl-dot {
  display: inline-block;
  background-color: #eff2f3;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.media-carousel .owl-dots .owl-dot + .owl-dot {
  margin-left: 5px;
}
.media-carousel .owl-dots .owl-dot.active {
  background-color: #535353;
}
.media-carousel .owl-nav {
  font-size: 26px;
  line-height: 1em;
  color: #00529c;
}
.media-carousel .owl-nav .owl-prev,
.media-carousel .owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 13px);
}
.media-carousel .owl-nav .owl-prev {
  left: 10px;
}
.media-carousel .owl-nav .owl-next {
  right: 10px;
}

.stat-items {
  margin-bottom: 35px;
}

.stat-item {
  background-color: #00529c;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
}
.stat-item h5 {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
.stat-item p {
  font-size: 27px;
  margin-bottom: 0;
  display: inline-block;
}
.stat-item img {
  float: right;
  max-width: 34px;
  max-height: 34px;
  margin-top: 3px;
}

.timeline-list {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
.timeline-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
}
.timeline-list li:before {
  content: '';
  width: 1px;
  height: calc(100% + 15px);
  background-color: #ccc;
  position: absolute;
  left: -15px;
  top: 8px;
}
.timeline-list li:after {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #00529c;
  position: absolute;
  left: -20px;
  top: 5px;
}
.timeline-list li:last-child:before {
  display: none;
}
.timeline-list li p {
  font-size: 15px;
  margin-bottom: 0;
  color: #2e343d;
}
.timeline-list li .time {
  font-size: 13px;
  color: #a4a0a0;
}

.recommended-list .media {
  padding-left: 3%;
}
.recommended-list .media img {
  width: 22px;
  margin-right: 25px;
}
.recommended-list .media h5 {
  font-size: 15px;
  font-weight: 500;
  color: #00529c;
  margin-bottom: 0;
}
.recommended-list .media p {
  font-size: 15px;
  color: #2e343d;
  margin-bottom: 20px;
}

.team-member:not(:last-child) {
  border-bottom: 1px solid #e5e8e9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.team-member img {
  width: 84px;
}
.team-member h5 {
  font-size: 16px;
  font-weight: 500;
  color: #2e343d;
  margin-bottom: 0;
}
.team-member p {
  font-size: 15px;
  color: #2e343d;
  margin-bottom: 5px;
}
.team-member a {
  display: block;
  color: #00529c;
}

.broker-section {
  margin-top: 35px;
}

.bite-card {
  border: none;
}
.bite-card .card-body {
  padding: 18px 0;
}
.bite-card .card-body .card-title {
  font-weight: 500;
  font-size: 18px;
  color: #2e343d;
  margin-bottom: 5px;
}
.bite-card .card-body p {
  font-size: 15px;
  color: #2e343d;
  min-height: 110px;
}

ul#toggle {
  z-index: 5;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 40%;
  left: 0px;
  background-color: rgba(88, 88, 88, 0.9);
  padding: 2px 8px 8px;
}

ul#toggle span {
  padding: 12px 5px 2px;
  font-size: 11pt;
  font-weight: 400;
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

ul#toggle li {
  list-style: none;
  display: block;
}

ul#toggle li, ul#toggle li a {
  font-size: 9pt;
  text-transform: uppercase;
  padding: 0 3px;
  color: #fff;
}

ul#toggle li a.active {
  font-weight: 600;
  color: yellow;
}

/*# sourceMappingURL=styles.css.map */
