@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/*

     @include grid-md {
        min-height: 40vh;        
    }    

*/
/*--------------------------------------
Html and Body
--------------------------------------*/
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #2e343d;
}

@media only screen and (min-width: 48em) {
  .container {
    max-width: 1280px;
  }
}

.btn {
  border-radius: 5px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;
  border: none;
  padding: 10px 28px;
}

/*--------------------------------------
Header
--------------------------------------*/
.demo-header {
  min-height: 85px;
  background-color: #e7e9ea;
  border-bottom: 6px solid #00529c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bdbdbd;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 1px 1px 0 #fff;
  text-transform: uppercase;
}

/*--------------------------------------
Banner
--------------------------------------*/
/*--------------------------------------
Footer
--------------------------------------*/
footer {
  background-color: #2d343e;
  height: 270px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575c63;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 1px 1px 0px #818489;
  text-transform: uppercase;
}

.banner {
  padding: 34px 0 0;
  background-color: #F8F9FB;
}
.banner h2 {
  font-size: 27px;
  color: #444;
}
.banner p {
  font-size: 15px;
  color: #75777a;
}
.banner .nav .nav-link {
  color: #2e343d;
  font-size: 15px;
  padding-bottom: 15px;
}
.banner .nav .nav-link.active, .banner .nav .nav-link:hover, .banner .nav .nav-link:focus {
  color: #444;
  border-bottom: 3px solid #00529c;
}

.border-left-md {
  border-left: 1px solid #d0d4d5;
}

.cc-body {
  background-color: #fff;
  padding: 45px 0;
  border-bottom: 1px solid #dcdfe0;
}
.cc-body h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}
.cc-body .quote-includes {
  margin-bottom: 50px;
  background-color: #F8F9FB;
  /* border-radius: 5px; */
  padding: 29px 16px;
}
.cc-body .quote-includes .row {
  text-align: center;
}
.cc-body .quote-includes i {
  font-size: 2em;
  color: #00529c;
  margin-bottom: 0.2em;
}
.cc-body .quote-includes h4 {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #444;
}
.cc-body .quote-includes ul {
  padding: 0;
  margin: 0;
}
.cc-body .quote-includes ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
.cc-body .quote-includes ul li + li {
  margin-top: 15px;
}
.cc-body .quote-optional h4 {
  font-size: 19px;
  margin-bottom: 20px;
}
.cc-body .quote-optional ._right {
  margin-left: 100px;
}
.cc-body .quote-optional ._right label {
  margin-left: 10px;
  color: #7d7f82;
  font-weight: 400;
  font-size: 15px;
}
.cc-body .quote-optional ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cc-body .quote-optional ul li {
  padding: 14px 18px;
  background: #fbfbfb;
}
.cc-body .quote-optional ul li.active {
  background: #F8F9FB;
}
.cc-body .quote-optional ul li + li {
  margin-top: 10px;
}
.cc-body .quote-optional ul li label {
  color: #2e343d;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
}
.cc-body label, .cc-body p {
  color: #2e343d;
}
.cc-body label a, .cc-body p a {
  color: #0098D6;
  text-decoration: none;
}
.cc-body .d-flex select.form-control {
  width: 17%;
  height: calc(1.4em + 0.4rem + 2px);
  padding: 0;
  padding-bottom: 10px;
  color: #3c3f52;
  margin-left: 15px;
  font-size: 18px;
}
.cc-body .info-section {
  background-color: #F8F9FB;
  padding: 36px 0;
  margin: 30px 0;
  /* border-radius: 6px; */
}
.cc-body .info-section .info-box {
  padding-left: 15px;
}
.cc-body .info-section .info-box i {
  display: flex;
  font-size: 26px;
  margin-right: 8px;
  color: #00529c;
}
.cc-body .info-section .info-box h4 {
  font-size: 24px;
  margin-bottom: 12px;
}
.cc-body .info-section .info-box P {
  font-size: 14px;
  color: #2e343d;
  margin: 0;
}
.cc-body .delivery-email label {
  color: #2e343d;
  font-size: 16px;
  margin: 0;
}
.cc-body .delivery-email .form-control {
  width: 51%;
  font-size: 14px;
  color: #6e6e6e;
}
.cc-body .delivery-email p {
  color: #75777a;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 12px;
}

.cc-controls {
  padding: 35px 0;
  background-color: #e7e9ea;
}
.cc-controls .left .btn-link,
.cc-controls .right .btn-link {
  text-decoration: underline;
  color: #0098D6;
  font-size: 15px;
}
.cc-controls .btn {
  background-color: #00529c;
  color: #fff;
}
.cc-controls .right {
  margin-left: auto;
}
.cc-controls .right a {
  margin-left: 55px;
}
.cc-controls .right .btn {
  margin-left: 70px;
}

#broker-enrollment-quote i {
  color: #00529c;
  font-size: 1.4em;
}
#broker-enrollment-quote i.excluded {
  color: #a7a7a7;
}
#broker-enrollment-quote i.major {
  font-size: 1.8em;
}

.summary-quote {
  margin-bottom: 50px;
  background-color: #F8F9FB;
  /* border-radius: 5px; */
  padding: 25px 20px;
}
.summary-quote .summary-content-inner {
  align-items: flex-start;
}
.summary-quote .summary-content-inner ._summary-left p {
  font-size: 15px;
  color: #2e343d;
}
.summary-quote .summary-content-inner ._summary-left h5 {
  font-size: 15px;
  color: #000;
}
.summary-quote .summary-content-inner ._summary-left .counter-number {
  font-size: 22px;
  color: #000;
  font-weight: 500;
}
.summary-quote .summary-content-inner ._summary-right .media {
  padding: 18px;
  border: 1px solid #d0d4d5;
  /* border-radius: 5px; */
  background-color: #fff;
  margin-bottom: 15px;
  min-height: 184px;
}
.summary-quote .summary-content-inner ._summary-right .media h5 {
  font-weight: bold;
  color: #444444;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}
.summary-quote .summary-content-inner ._summary-right .media h6 {
  font-size: 15px;
  font-weight: 400;
  color: #2e343d;
  margin-bottom: 0;
}
.summary-quote .summary-content-inner ._summary-right .media .counter-number {
  color: #00529c;
  font-weight: 500;
  font-size: 20px;
}
.summary-quote .summary-content-inner ._summary-right .media p {
  font-size: 13px;
  color: #75777a;
  margin-top: 8px;
}
.summary-quote .summary-content-inner ._summary-right .medical-option,
.summary-quote .summary-content-inner ._summary-right .dental-option {
  border: 1px solid #d0d4d5;
  /* border-radius: 5px; */
  background-color: #F8F9FB;
  padding: 15px;
}
.summary-quote .summary-content-inner ._summary-right .medical-option img,
.summary-quote .summary-content-inner ._summary-right .dental-option img {
  margin-right: 12px;
}
.summary-quote .summary-content-inner ._summary-right .medical-option p,
.summary-quote .summary-content-inner ._summary-right .dental-option p {
  display: inline;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  color: #a7a7a7;
}
.summary-quote .summary-content-inner ._summary-right .medical-option .badge,
.summary-quote .summary-content-inner ._summary-right .dental-option .badge {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-radius: 0px !important;
  background-color: #acacac;
}
.summary-quote .summary-content-inner ._summary-right .medical-option.active,
.summary-quote .summary-content-inner ._summary-right .dental-option.active {
  background-color: #fff;
}
.summary-quote .summary-content-inner ._summary-right .medical-option.active p,
.summary-quote .summary-content-inner ._summary-right .dental-option.active p {
  color: #444444;
}
.summary-quote .summary-content-inner ._summary-right .medical-option.active .badge,
.summary-quote .summary-content-inner ._summary-right .dental-option.active .badge {
  display: none;
}

body#comps {
  background: linear-gradient(#fff 0%, #fff 30%, #efefef 100%);
}
body#comps h1 {
  color: #0098D6;
  font-size: 1.8rem;
  text-align: center;
  margin: 84px 0 8px;
}
body#comps h1:first-of-type {
  margin: 36px 0 8px;
}
body#comps img {
  box-shadow: 0 48px 48px -20px rgba(0, 0, 0, 0.1);
}

.custom-control.custom-checkbox label:before {
  border-radius: 0 !important;
  border: 2px solid rgba(117, 119, 122, 0.8);
  width: 17px;
  height: 17px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00529c;
  border: 2px solid #00529c;
}

select.form-control,
input.form-control {
  padding: 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #a4a0a0;
  border-radius: 0;
  margin-bottom: 10px;
}
select.form-control:focus,
input.form-control:focus {
  color: #3c3f52 !important;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  border-color: #a4a0a0;
}

.standard-theme #banner {
  background: #555555;
}
.standard-theme #banner p {
  color: #ccc;
}
.standard-theme #banner .nav .nav-link.active, .standard-theme #banner .nav .nav-link:focus, .standard-theme #banner .nav .nav-link:hover {
  border-color: #d4d4d4;
}
.standard-theme .btn-dark {
  background-color: #2a2a2a;
  color: #f4f4f4;
  border: 1px solid #717171;
  border-radius: 0;
}
.standard-theme .btn-white-outline {
  border: solid 1px #717171;
  background-color: #f2f2f2;
  border-radius: 0;
  color: #5b5b5b;
}
.standard-theme .custom-table thead tr {
  background-color: #333333;
}
.standard-theme .bg-light-grey {
  background-color: #686868;
}
.standard-theme .bg-light {
  background-color: #f2f2f2;
}
.standard-theme .custom-table .border-right.bg-light {
  border-right-color: #fff !important;
}
.standard-theme .custom-table thead tr th {
  white-space: nowrap;
}
.standard-theme .custom-table tbody tr {
  background-color: #fff;
}
.standard-theme .custom-table tbody tr td {
  white-space: nowrap;
}
.standard-theme .custom-table tbody tr:nth-child(2) td {
  border-top: 0;
}
.standard-theme .custom-table .td-action a {
  color: #000;
}