@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/*

theme 1
.standard-blue-theme
.standard-green-theme
.standard-orange-theme
.standard-theme

theme 2
.blue-theme
.green-theme
.orange-theme
.neutral-theme

theme3
.banner-blue-theme
.banner-green-theme
.banner-orange-theme
.banner-theme

.banner-theme &, .banner-green-theme &, .banner-orange-theme &, .banner-blue-theme & {}
.standard-blue-theme &, .standard-green-theme &, .standard-orange-theme &, .standard-theme & {}
.blue-theme &, .orange-theme &, .green-theme &, .neutral-theme & {}

*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                            - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
/*

     @include grid-md {
        min-height: 40vh;        
    }    

*/
/*--------------------------------------
Html and Body
--------------------------------------*/
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #2e343d;
}

body.banner-theme, body.banner-green-theme, body.banner-orange-theme, body.banner-blue-theme {
  background-color: #f7f9fb;
  border-bottom-color: #dcdfe0;
}
body.standard-blue-theme, body.standard-green-theme, body.standard-orange-theme, body.standard-theme {
  background-color: #f7f9fb;
  border-bottom-color: #dcdfe0;
}
body.blue-theme, body.orange-theme, body.green-theme, body.neutral-theme {
  background-color: #eff2f3;
  border-bottom-color: #dcdfe0;
}

a {
  color: #00529c;
}
a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 48em) {
  .container {
    max-width: 1280px;
  }
}

.btn {
  border-radius: 5px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border: none;
  padding: 8px 24px;
  text-transform: uppercase;
}

.btn-white {
  background-color: #fff;
  color: #444444;
  border: 2px solid transparent;
}
.btn-white i {
  color: #0098d6;
}
.standard-theme .btn-white i {
  color: #cccccc;
}
.blue-theme .btn-white i {
  color: #0098d6;
}
.orange-theme .btn-white i {
  color: #f46b10;
}
.green-theme .btn-white i {
  color: #61a61c;
}

.btn-white-outline {
  border: solid 1px white;
  color: white;
  background-color: transparent;
}

/*--------------------------------------
Header
--------------------------------------*/
header {
  min-height: 85px;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  /* dummy header */
}
.banner-theme header {
  border-color: #00529c;
  background-color: #00529c;
}
.banner-theme.option header {
  border-color: #535353;
  background-color: #535353;
}
.banner-blue-theme header {
  border-color: #00529c;
  background-color: #00529c;
}
.banner-green-theme header {
  border-color: #09600d;
  background-color: #09600d;
}
.banner-orange-theme header {
  border-color: #d86010;
  background-color: #d86010;
}
.standard-theme header {
  border-color: #535353;
  background-color: #f7f9fb;
}
.standard-blue-theme header {
  border-color: #00529c;
  background-color: #f7f9fb;
}
.standard-green-theme header {
  border-color: #09600d;
  background-color: #f7f9fb;
}
.standard-orange-theme header {
  border-color: #d86010;
  background-color: #f7f9fb;
}
.blue-theme header {
  border-color: #00529c;
  background-color: #fff;
}
.orange-theme header {
  border-color: #00529c;
  background-color: #fff;
}
.green-theme header {
  border-color: #00529c;
  background-color: #fff;
}
.neutral-theme header {
  border-color: #00529c;
  background-color: #fff;
}
header .wrapper {
  background-repeat: no-repeat;
  background-size: 260px;
  background-image: url("../images/calchoicelogo.png");
  padding-left: 260px;
  background-position: 0 20px;
  height: 88px;
}
.banner-theme header .wrapper, .banner-green-theme header .wrapper, .banner-orange-theme header .wrapper, .banner-blue-theme header .wrapper {
  background-image: url("../images/calchoicelogo-white.png");
}
header .navbar-brand {
  max-width: 240px;
}
header .navbar-brand img {
  width: 100%;
}
header .main-nav {
  padding: 30px 0;
}
header .main-nav .navbar-nav .nav-item {
  margin-right: 45px;
}
header .main-nav .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  color: #444;
}
.banner-theme header .main-nav .navbar-nav .nav-item .nav-link, .banner-green-theme header .main-nav .navbar-nav .nav-item .nav-link, .banner-orange-theme header .main-nav .navbar-nav .nav-item .nav-link, .banner-blue-theme header .main-nav .navbar-nav .nav-item .nav-link {
  color: #fff;
}
header .main-nav .navbar-nav li:first-child {
  margin-left: 41px;
}
header.demo-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bdbdbd;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 1px 1px 0 #fff;
  text-transform: uppercase;
}

/*--------------------------------------
Banner
--------------------------------------*/
#banner {
  padding: 42px 0 0;
}
.banner-theme #banner, .banner-green-theme #banner, .banner-orange-theme #banner, .banner-blue-theme #banner {
  background-color: #fff;
}
.banner-theme #banner *, .banner-green-theme #banner *, .banner-orange-theme #banner *, .banner-blue-theme #banner * {
  color: #444;
}
.standard-blue-theme #banner, .standard-green-theme #banner, .standard-orange-theme #banner, .standard-theme #banner {
  background-color: #fff;
}
.standard-blue-theme #banner *, .standard-green-theme #banner *, .standard-orange-theme #banner *, .standard-theme #banner * {
  color: #444;
}
.blue-theme #banner, .orange-theme #banner, .green-theme #banner, .neutral-theme #banner {
  background-color: #00529c;
}
.blue-theme #banner *, .orange-theme #banner *, .green-theme #banner *, .neutral-theme #banner * {
  color: #fff;
}
#banner h2 {
  font-size: 27px;
  color: #fff;
}
#banner p {
  font-size: 15px;
  color: #fff;
}
#banner .nav {
  margin-top: 40px;
}
#banner .nav .nav-link {
  font-size: 15px;
  padding-bottom: 15px;
  border-bottom: 4px solid transparent;
  /*
  &:hover {
    color: #fff;
  }
  */
}
.neutral-theme.tabs #banner .nav .nav-link {
  padding-bottom: 6px;
}
.banner-theme #banner .nav .nav-link, .banner-green-theme #banner .nav .nav-link, .banner-orange-theme #banner .nav .nav-link, .banner-blue-theme #banner .nav .nav-link {
  color: #444;
}
.standard-blue-theme #banner .nav .nav-link, .standard-green-theme #banner .nav .nav-link, .standard-orange-theme #banner .nav .nav-link, .standard-theme #banner .nav .nav-link {
  color: #444;
}
.blue-theme #banner .nav .nav-link, .orange-theme #banner .nav .nav-link, .green-theme #banner .nav .nav-link, .neutral-theme #banner .nav .nav-link {
  color: #fff;
}
#banner .nav .nav-link.active, #banner .nav .nav-link:focus {
  font-weight: 600;
  border-bottom: 5px solid;
  border-color: #0098d6;
}
.neutral-theme.tabs #banner .nav .nav-link.active, .neutral-theme.tabs #banner .nav .nav-link:focus {
  padding-bottom: 4px;
  background-color: #eff2f3;
  color: #444;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: inset 0px 16px 7px -8px rgba(0, 0, 0, 0.08);
}
.standard-green-theme #banner .nav .nav-link.active, .standard-green-theme #banner .nav .nav-link:focus {
  border-color: #09600d;
  color: #444;
}
.banner-green-theme #banner .nav .nav-link.active, .banner-green-theme #banner .nav .nav-link:focus {
  border-color: #09600d;
  color: #444;
}
.banner-orange-theme #banner .nav .nav-link.active, .banner-orange-theme #banner .nav .nav-link:focus {
  border-color: #d86010;
  color: #444;
}
.standard-orange-theme #banner .nav .nav-link.active, .standard-orange-theme #banner .nav .nav-link:focus {
  border-color: #d86010;
  color: #444;
}
.banner-theme #banner .nav .nav-link.active, .standard-theme #banner .nav .nav-link.active, .banner-blue-theme #banner .nav .nav-link.active, .standard-blue-theme #banner .nav .nav-link.active, .banner-theme #banner .nav .nav-link:focus, .standard-theme #banner .nav .nav-link:focus, .banner-blue-theme #banner .nav .nav-link:focus, .standard-blue-theme #banner .nav .nav-link:focus {
  border-color: #00529c;
  color: #444;
}
.orange-theme #banner .nav .nav-link.active, .orange-theme #banner .nav .nav-link:focus {
  border-color: #f46b10;
  color: #fff;
}
.neutral-theme #banner .nav .nav-link.active, .neutral-theme #banner .nav .nav-link:focus {
  border-color: #eff2f3;
  color: #fff;
}
.blue-theme #banner .nav .nav-link.active, .blue-theme #banner .nav .nav-link:focus {
  border-color: #0098d6;
  color: #fff;
}
.green-theme #banner .nav .nav-link.active, .green-theme #banner .nav .nav-link:focus {
  border-color: #61a61c;
  color: #fff;
}
.neutral-theme.option #banner .nav .nav-link.active, .neutral-theme.option #banner .nav .nav-link:focus {
  border-color: #f46b10;
  color: #fff;
}
.neutral-theme.tabs #banner .nav .nav-link.active, .neutral-theme.tabs #banner .nav .nav-link:focus {
  border-bottom-color: #eff2f3;
  color: #444;
}
#banner.banner-menu .right {
  display: flex;
  justify-content: flex-end;
}
#banner.banner-menu .right .btn.primary, #banner.banner-menu .right .btn.secondary {
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.45);
}
#banner.banner-menu .right .btn.primary {
  border-style: solid;
  border-width: 1px;
}
.banner-blue-theme #banner.banner-menu .right .btn.primary, .banner-theme #banner.banner-menu .right .btn.primary {
  background-color: #00529c;
  border-color: #00529c;
  color: #fff;
}
.standard-blue-theme #banner.banner-menu .right .btn.primary {
  background-color: #00529c;
  border-color: #00529c;
  color: #fff;
}
.standard-blue-theme #banner.banner-menu .right .btn.primary {
  background-color: #00529c;
  border-color: #00529c;
  color: #fff;
}
.standard-theme #banner.banner-menu .right .btn.primary {
  background-color: #00529c;
  border-color: #00529c;
  color: #fff;
}
.standard-green-theme #banner.banner-menu .right .btn.primary, .banner-green-theme #banner.banner-menu .right .btn.primary {
  background-color: #09600d;
  border-color: #09600d;
  color: #fff;
}
.standard-orange-theme #banner.banner-menu .right .btn.primary, .banner-orange-theme #banner.banner-menu .right .btn.primary {
  background-color: #d86010;
  border-color: #d86010;
  color: #fff;
}
.neutral-theme #banner.banner-menu .right .btn.primary {
  background-color: #fff;
  border-color: #fff;
  color: #444;
}
.blue-theme #banner.banner-menu .right .btn.primary {
  background-color: #fff;
  border-color: #fff;
  color: #444;
}
.orange-theme #banner.banner-menu .right .btn.primary {
  background-color: #fff;
  border-color: #fff;
  color: #444;
}
.green-theme #banner.banner-menu .right .btn.primary {
  background-color: #fff;
  border-color: #fff;
  color: #444;
}
#banner.banner-menu .right .dd-transparent .btn.secondary {
  border-style: solid;
  border-width: 1px;
  min-width: 84px;
}
.banner-blue-theme #banner.banner-menu .right .dd-transparent .btn.secondary, .banner-theme #banner.banner-menu .right .dd-transparent .btn.secondary, .standard-blue-theme #banner.banner-menu .right .dd-transparent .btn.secondary {
  background-color: #fff;
  border-color: #00529c;
  color: #00529c;
}
.standard-theme #banner.banner-menu .right .dd-transparent .btn.secondary {
  background-color: #fff;
  border-color: #00529c;
  color: #00529c;
}
.standard-green-theme #banner.banner-menu .right .dd-transparent .btn.secondary, .banner-green-theme #banner.banner-menu .right .dd-transparent .btn.secondary {
  background-color: #fff;
  border-color: #09600d;
  color: #09600d;
}
.standard-orange-theme #banner.banner-menu .right .dd-transparent .btn.secondary, .banner-orange-theme #banner.banner-menu .right .dd-transparent .btn.secondary {
  background-color: #fff;
  border-color: #d86010;
  color: #d86010;
}
.neutral-theme #banner.banner-menu .right .dd-transparent .btn.secondary {
  background-color: #00529c;
  border-color: #fff;
  color: #fff;
}
.blue-theme #banner.banner-menu .right .dd-transparent .btn.secondary {
  background-color: #00529c;
  border-color: #0098d6;
  color: #fff;
}
.orange-theme #banner.banner-menu .right .dd-transparent .btn.secondary {
  background-color: #00529c;
  border-color: #f46b10;
  color: #fff;
}
.green-theme #banner.banner-menu .right .dd-transparent .btn.secondary {
  background-color: #00529c;
  border-color: #61a61c;
  color: #fff;
}

/*--------------------------------------
Body
--------------------------------------*/
.cc-body {
  padding: 42px 0 120px;
}
.cc-body h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

/*--------------------------------------
Button Controls
--------------------------------------*/
.cc-controls {
  padding: 24px 0;
  background-color: rgba(255, 255, 255, 0.92);
}
.banner-theme.option .cc-controls {
  background-color: rgba(83, 83, 83, 0.92);
}
.cc-controls .left .btn-link, .cc-controls .right .btn-link {
  text-decoration: underline;
  font-size: 14px;
  color: #444;
}
.banner-theme.option .cc-controls .left .btn-link,
.banner-theme.option .cc-controls .right .btn-link {
  color: #fff;
}
.banner-blue-theme .cc-controls .btn, .banner-theme .cc-controls .btn, .standard-blue-theme .cc-controls .btn {
  color: #fff;
  background-color: #00529c;
}
.standard-theme .cc-controls .btn {
  color: #fff;
  background-color: #00529c;
}
.standard-green-theme .cc-controls .btn, .banner-green-theme .cc-controls .btn {
  color: #fff;
  background-color: #09600d;
}
.standard-orange-theme .cc-controls .btn, .banner-orange-theme .cc-controls .btn {
  color: #fff;
  background-color: #d86010;
}
.neutral-theme .cc-controls .btn {
  color: #fff;
  background-color: #00529c;
}
.blue-theme .cc-controls .btn {
  color: #fff;
  background-color: #00529c;
}
.orange-theme .cc-controls .btn {
  color: #fff;
  background-color: #00529c;
}
.green-theme .cc-controls .btn {
  color: #fff;
  background-color: #00529c;
}
.banner-theme.option .cc-controls .btn {
  color: #00529c;
  background-color: #fff;
}
.cc-controls .right {
  margin-left: auto;
}
.cc-controls .right a {
  margin-left: 55px;
}
.cc-controls .right .btn {
  margin-left: 70px;
}
.cc-controls.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.1);
}

/*--------------------------------------
Footer
--------------------------------------*/
footer {
  background-color: #2d343e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575c63;
}

.cc-table {
  border: 1px solid #dee2e6;
}
.banner-blue-theme .cc-table thead tr, .standard-blue-theme .cc-table thead tr {
  background-color: #00529c;
}
.standard-green-theme .cc-table thead tr, .banner-green-theme .cc-table thead tr {
  background-color: #09600d;
}
.standard-orange-theme .cc-table thead tr, .banner-orange-theme .cc-table thead tr {
  background-color: #d86010;
}
.banner-theme .cc-table thead tr {
  background-color: #535353;
}
.standard-theme .cc-table thead tr {
  background-color: #535353;
}
.neutral-theme .cc-table thead tr {
  background-color: #535353;
}
.blue-theme .cc-table thead tr {
  background-color: #535353;
}
.orange-theme .cc-table thead tr {
  background-color: #535353;
}
.green-theme .cc-table thead tr {
  background-color: #535353;
}
.cc-table thead tr th {
  color: white;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 24px;
  vertical-align: middle;
  text-align: left;
}
.cc-table thead tr th .th-sort {
  display: inline-block;
  vertical-align: text-bottom;
}
.cc-table thead tr th .th-sort a {
  display: block;
  margin-bottom: -5px;
  margin-left: 6px;
}
.cc-table thead tr th .th-sort a i {
  color: white;
  position: relative;
  top: -2px;
}
.cc-table tbody tr:nth-child(odd) {
  background-color: #fff;
}
.cc-table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
.cc-table tbody tr td {
  font-size: 15px;
  padding: 10px 24px;
  vertical-align: middle;
  text-align: left;
}
.banner-blue-theme .cc-table tbody tr td > a, .standard-blue-theme .cc-table tbody tr td > a, .banner-theme .cc-table tbody tr td > a, .standard-theme .cc-table tbody tr td > a {
  color: #00529c;
}
.standard-green-theme .cc-table tbody tr td > a, .banner-green-theme .cc-table tbody tr td > a {
  color: #09600d;
}
.standard-orange-theme .cc-table tbody tr td > a, .banner-orange-theme .cc-table tbody tr td > a {
  color: #444;
}
.neutral-theme .cc-table tbody tr td > a {
  color: #00529c;
}
.blue-theme .cc-table tbody tr td > a {
  color: #00529c;
}
.orange-theme .cc-table tbody tr td > a {
  color: #00529c;
}
.green-theme .cc-table tbody tr td > a {
  color: #00529c;
}
.cc-table .td-action {
  text-align: right;
}
.cc-table .td-action .td-dropdown .btn {
  min-width: 98px;
  height: 34px;
  padding: 0 2px;
  font-size: 12px;
  font-weight: 600;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  transition: all 0.3s linear;
  box-shadow: none;
}
.banner-blue-theme .cc-table .td-action .td-dropdown .btn, .standard-blue-theme .cc-table .td-action .td-dropdown .btn, .banner-theme .cc-table .td-action .td-dropdown .btn, .standard-theme .cc-table .td-action .td-dropdown .btn {
  color: #00529c;
  border-color: #d0d4d5;
}
.standard-green-theme .cc-table .td-action .td-dropdown .btn, .banner-green-theme .cc-table .td-action .td-dropdown .btn {
  color: #09600d;
  border-color: #d0d4d5;
}
.standard-orange-theme .cc-table .td-action .td-dropdown .btn, .banner-orange-theme .cc-table .td-action .td-dropdown .btn {
  color: #d86010;
  border-color: #d0d4d5;
}
.neutral-theme .cc-table .td-action .td-dropdown .btn {
  color: #444;
  border-color: #d0d4d5;
}
.blue-theme .cc-table .td-action .td-dropdown .btn {
  color: #444;
  border-color: #0098d6;
}
.orange-theme .cc-table .td-action .td-dropdown .btn {
  color: #444;
  border-color: #f46b10;
}
.green-theme .cc-table .td-action .td-dropdown .btn {
  color: #444;
  border-color: #61a61c;
}
.cc-table .td-action .td-dropdown .btn:focus {
  background-color: #75777a;
  color: white;
}

/*--------------------------------------
Pagination
--------------------------------------*/
.cc-pagination {
  padding: 12px 0;
}
.cc-pagination .left p {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  color: #444;
  font-size: 15px;
}
.cc-pagination .left .row-numbers {
  display: inline-block;
  padding: 0;
  list-style: none;
  margin: 0 0 0 10px;
}
.cc-pagination .left .row-numbers li {
  display: inline-block;
}
.cc-pagination .left .row-numbers li a {
  display: block;
  padding: 3px 6px;
  color: #444444;
  border-radius: 5px;
}
.cc-pagination .left .row-numbers li a.active {
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
}
.banner-blue-theme .cc-pagination .left .row-numbers li a.active, .standard-blue-theme .cc-pagination .left .row-numbers li a.active, .banner-theme .cc-pagination .left .row-numbers li a.active, .standard-theme .cc-pagination .left .row-numbers li a.active {
  color: #00529c;
  border-color: #00529c;
}
.standard-green-theme .cc-pagination .left .row-numbers li a.active, .banner-green-theme .cc-pagination .left .row-numbers li a.active {
  color: #09600d;
  border-color: #09600d;
}
.standard-orange-theme .cc-pagination .left .row-numbers li a.active, .banner-orange-theme .cc-pagination .left .row-numbers li a.active {
  color: #d86010;
  border-color: #d86010;
}
.neutral-theme .cc-pagination .left .row-numbers li a.active {
  color: #444;
  border-color: #00529c;
}
.blue-theme .cc-pagination .left .row-numbers li a.active {
  color: #444;
  border-color: #0098d6;
}
.orange-theme .cc-pagination .left .row-numbers li a.active {
  color: #444;
  border-color: #f46b10;
}
.green-theme .cc-pagination .left .row-numbers li a.active {
  color: #444;
  border-color: #61a61c;
}
.cc-pagination .right .pagination {
  align-items: center;
}
.cc-pagination .right .pagination .page-item + .page-item {
  margin-left: 5px;
}
.cc-pagination .right .pagination .page-item .page-link {
  border: none;
  background-color: transparent;
  color: #444444;
  border-radius: 5px;
  padding: 5px 10px;
  min-width: 34px;
}
.cc-pagination .right .pagination .page-item .page-link.active {
  border-style: solid;
  border-width: 2px;
  background-color: #fff;
}
.banner-blue-theme .cc-pagination .right .pagination .page-item .page-link.active, .standard-blue-theme .cc-pagination .right .pagination .page-item .page-link.active, .banner-theme .cc-pagination .right .pagination .page-item .page-link.active, .standard-theme .cc-pagination .right .pagination .page-item .page-link.active {
  color: #00529c;
  border-color: #00529c;
}
.standard-green-theme .cc-pagination .right .pagination .page-item .page-link.active, .banner-green-theme .cc-pagination .right .pagination .page-item .page-link.active {
  color: #09600d;
  border-color: #09600d;
}
.standard-orange-theme .cc-pagination .right .pagination .page-item .page-link.active, .banner-orange-theme .cc-pagination .right .pagination .page-item .page-link.active {
  color: #d86010;
  border-color: #d86010;
}
.neutral-theme .cc-pagination .right .pagination .page-item .page-link.active {
  color: #444;
  border-color: #00529c;
}
.blue-theme .cc-pagination .right .pagination .page-item .page-link.active {
  color: #444;
  border-color: #0098d6;
}
.orange-theme .cc-pagination .right .pagination .page-item .page-link.active {
  color: #444;
  border-color: #f46b10;
}
.green-theme .cc-pagination .right .pagination .page-item .page-link.active {
  color: #444;
  border-color: #61a61c;
}
.cc-pagination .right .pagination .page-item .page-link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.nav-steps {
  padding: 13px 0;
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
}
.standard-blue-theme .nav-steps, .standard-theme .nav-steps, .banner-theme .nav-steps {
  background: linear-gradient(white, rgba(233, 239, 245, 0.5));
}
.standard-green-theme .nav-steps, .banner-green-theme .nav-steps {
  background: linear-gradient(white, rgba(233, 239, 245, 0.5));
}
.standard-orange-theme .nav-steps, .banner-orange-theme .nav-steps {
  background: linear-gradient(white, rgba(233, 239, 245, 0.5));
}
.neutral-theme .nav-steps {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.blue-theme .nav-steps {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.orange-theme .nav-steps {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.green-theme .nav-steps {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.nav-steps a {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 5px;
  opacity: 0.3;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  position: relative;
}
.nav-steps a.active {
  font-weight: 600;
}
.standard-theme .nav-steps a.active {
  background-color: #E7E9EA;
}
.standard-blue-theme .nav-steps a.active {
  background-color: #E7E9EA;
}
.banner-blue-theme .nav-steps a.active {
  background-color: #E7E9EA;
}
.standard-green-theme .nav-steps a.active, .banner-green-theme .nav-steps a.active, .banner-theme .nav-steps a.active {
  background-color: #E7E9EA;
}
.standard-orange-theme .nav-steps a.active, .banner-orange-theme .nav-steps a.active {
  background-color: #E7E9EA;
}
.neutral-theme .nav-steps a.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.blue-theme .nav-steps a.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.orange-theme .nav-steps a.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.green-theme .nav-steps a.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-steps a.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 12px 0 12px 12px;
  border-style: solid;
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -12px;
}
.standard-theme .nav-steps a.active:after {
  border-color: transparent transparent transparent #E7E9EA;
}
.standard-blue-theme .nav-steps a.active:after {
  border-color: transparent transparent transparent #E7E9EA;
}
.banner-blue-theme .nav-steps a.active:after {
  border-color: transparent transparent transparent #E7E9EA;
}
.standard-green-theme .nav-steps a.active:after, .banner-green-theme .nav-steps a.active:after, .banner-theme .nav-steps a.active:after {
  border-color: transparent transparent transparent #E7E9EA;
}
.standard-orange-theme .nav-steps a.active:after, .banner-orange-theme .nav-steps a.active:after {
  border-color: transparent transparent transparent #E7E9EA;
}
.neutral-theme .nav-steps a.active:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}
.blue-theme .nav-steps a.active:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}
.orange-theme .nav-steps a.active:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}
.green-theme .nav-steps a.active:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}
.nav-steps a.prev, .nav-steps a.active {
  opacity: 1;
}
.nav-steps a span {
  border-width: 1px;
  border-style: solid;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 9px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  line-height: 28px;
}
.standard-theme .nav-steps a span {
  border-color: #444;
}
.standard-blue-theme .nav-steps a span {
  border-color: #444;
}
.banner-blue-theme .nav-steps a span {
  border-color: #444;
}
.standard-green-theme .nav-steps a span, .banner-green-theme .nav-steps a span, .banner-theme .nav-steps a span {
  border-color: #444;
}
.standard-orange-theme .nav-steps a span, .banner-orange-theme .nav-steps a span {
  border-color: #444;
}
.neutral-theme .nav-steps a span {
  border-color: #fff;
}
.blue-theme .nav-steps a span {
  border-color: #fff;
}
.orange-theme .nav-steps a span {
  border-color: #fff;
}
.green-theme .nav-steps a span {
  border-color: #fff;
}
.nav-steps.v2 a {
  padding: 15px 10px 15px 25px;
  margin-right: 15px;
}
.nav-steps.v2 a.active:after {
  border-width: 27px 0 27px 27px;
  right: -27px;
  top: 2px;
  margin-top: 0;
}

.custom-control.custom-checkbox label:before {
  border-radius: 0 !important;
  border: 2px solid rgba(117, 119, 122, 0.8);
  width: 17px;
  height: 17px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00529c;
  border: 2px solid #00529c;
}
.banner-blue-theme .custom-control-input:checked ~ .custom-control-label::before, .standard-blue-theme .custom-control-input:checked ~ .custom-control-label::before, .banner-theme .custom-control-input:checked ~ .custom-control-label::before, .standard-theme .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00529c;
  border-color: #00529c;
}
.standard-green-theme .custom-control-input:checked ~ .custom-control-label::before, .banner-green-theme .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #09600d;
  border-color: #09600d;
}
.standard-orange-theme .custom-control-input:checked ~ .custom-control-label::before, .banner-orange-theme .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #d86010;
  border-color: #d86010;
}
.neutral-theme .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00529c;
  border-color: #00529c;
}
.blue-theme .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00529c;
  border-color: #00529c;
}
.orange-theme .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00529c;
  border-color: #00529c;
}
.green-theme .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00529c;
  border-color: #00529c;
}

select.form-control,
input.form-control {
  padding: 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #a4a0a0;
  border-radius: 0;
  margin-bottom: 10px;
}
select.form-control:focus,
input.form-control:focus {
  color: #3c3f52 !important;
  box-shadow: none;
  background-color: transparent;
  outline: none;
  border-color: #a4a0a0;
}

.custom-form-group {
  position: relative;
}
.custom-form-group label {
  position: absolute;
  top: 13px;
  font-size: 16px;
  color: #999999;
  transition: all 0.2s linear;
}
.custom-form-group input:focus, .custom-form-group input:valid {
  border-bottom-color: #0098d6;
}
.banner-blue-theme .custom-form-group input:focus, .standard-blue-theme .custom-form-group input:focus, .banner-theme .custom-form-group input:focus, .standard-theme .custom-form-group input:focus, .banner-blue-theme .custom-form-group input:valid, .standard-blue-theme .custom-form-group input:valid, .banner-theme .custom-form-group input:valid, .standard-theme .custom-form-group input:valid {
  border-bottom-color: #00529c;
}
.standard-green-theme .custom-form-group input:focus, .banner-green-theme .custom-form-group input:focus, .standard-green-theme .custom-form-group input:valid, .banner-green-theme .custom-form-group input:valid {
  border-bottom-color: #09600d;
}
.standard-orange-theme .custom-form-group input:focus, .banner-orange-theme .custom-form-group input:focus, .standard-orange-theme .custom-form-group input:valid, .banner-orange-theme .custom-form-group input:valid {
  border-bottom-color: #d86010;
}
.neutral-theme .custom-form-group input:focus, .neutral-theme .custom-form-group input:valid {
  border-bottom-color: #0098d6;
}
.blue-theme .custom-form-group input:focus, .blue-theme .custom-form-group input:valid {
  border-bottom-color: #0098d6;
}
.orange-theme .custom-form-group input:focus, .orange-theme .custom-form-group input:valid {
  border-bottom-color: #f46b10;
}
.green-theme .custom-form-group input:focus, .green-theme .custom-form-group input:valid {
  border-bottom-color: #61a61c;
}
.custom-form-group input:focus + label, .custom-form-group input:valid + label {
  top: -14px;
  font-size: 13px;
}

.border-left-md {
  border-left: 1px solid #d0d4d5;
}

.cc-body .quote-includes {
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
  padding: 29px 16px;
}
.cc-body .quote-includes .row {
  text-align: center;
}
.cc-body .quote-includes i {
  font-size: 2em;
  color: #00529c;
  margin-bottom: 0.2em;
}
.cc-body .quote-includes h4 {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #444;
}
.cc-body .quote-includes ul {
  padding: 0;
  margin: 0;
}
.cc-body .quote-includes ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
.cc-body .quote-includes ul li + li {
  margin-top: 15px;
}
.cc-body .quote-optional h4 {
  font-size: 19px;
  margin-bottom: 20px;
}
.cc-body .quote-optional ._right {
  margin-left: 100px;
}
.cc-body .quote-optional ._right label {
  margin-left: 10px;
  color: #7d7f82;
  font-weight: 400;
  font-size: 15px;
}
.cc-body .quote-optional ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cc-body .quote-optional ul li {
  padding: 14px 18px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.cc-body .quote-optional ul li.active {
  background: white;
}
.cc-body .quote-optional ul li + li {
  margin-top: 10px;
}
.cc-body .quote-optional ul li label {
  color: #2e343d;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
}
.cc-body label, .cc-body p {
  color: #2e343d;
}
.cc-body label a, .cc-body p a {
  color: #0098D6;
  text-decoration: none;
}
.cc-body .d-flex select.form-control {
  width: 17%;
  height: calc(1.4em + 0.4rem + 2px);
  padding: 0;
  padding-bottom: 10px;
  color: #3c3f52;
  margin-left: 15px;
  font-size: 18px;
}
.cc-body .info-section {
  background-color: #fff;
  padding: 36px 0;
  margin: 30px 0;
  border-radius: 6px;
}
.cc-body .info-section .info-box {
  padding-left: 15px;
}
.cc-body .info-section .info-box i {
  display: flex;
  font-size: 26px;
  margin-right: 8px;
  color: #00529c;
}
.cc-body .info-section .info-box h4 {
  font-size: 24px;
  margin-bottom: 12px;
}
.cc-body .info-section .info-box P {
  font-size: 14px;
  color: #2e343d;
  margin: 0;
}
.cc-body .delivery-email label {
  color: #2e343d;
  font-size: 16px;
  margin: 0;
}
.cc-body .delivery-email .form-control {
  width: 51%;
  font-size: 14px;
  color: #6e6e6e;
}
.cc-body .delivery-email p {
  color: #75777a;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 12px;
}

#broker-enrollment-quote i {
  color: #00529c;
  font-size: 1.4em;
}
#broker-enrollment-quote i.excluded {
  color: #a7a7a7;
}
#broker-enrollment-quote i.major {
  font-size: 1.8em;
}

.summary-quote {
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px 20px;
}
.summary-quote .summary-content-inner {
  align-items: flex-start;
}
.summary-quote .summary-content-inner ._summary-left p {
  font-size: 15px;
  color: #2e343d;
}
.summary-quote .summary-content-inner ._summary-left h5 {
  font-size: 15px;
  color: #000;
}
.summary-quote .summary-content-inner ._summary-left .counter-number {
  font-size: 22px;
  color: #000;
  font-weight: 500;
}
.summary-quote .summary-content-inner ._summary-right .media {
  padding: 18px;
  border: 1px solid #d0d4d5;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, #d7d7d7 0%, white 100%);
  background-image: -webkit-linear-gradient(90deg, #d7d7d7 0%, white 100%);
  background-image: -ms-linear-gradient(90deg, #d7d7d7 0%, white 100%);
  margin-bottom: 15px;
}
.summary-quote .summary-content-inner ._summary-right .media h5 {
  font-weight: bold;
  color: #444444;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}
.summary-quote .summary-content-inner ._summary-right .media h6 {
  font-size: 15px;
  font-weight: 400;
  color: #2e343d;
  margin-bottom: 0;
}
.summary-quote .summary-content-inner ._summary-right .media .counter-number {
  color: #00529c;
  font-weight: 500;
  font-size: 20px;
}
.summary-quote .summary-content-inner ._summary-right .media p {
  font-size: 13px;
  color: #75777a;
  margin-top: 8px;
}
.summary-quote .summary-content-inner ._summary-right .medical-option,
.summary-quote .summary-content-inner ._summary-right .dental-option {
  border: 1px solid #d0d4d5;
  border-radius: 5px;
  background-color: #f6f6f6;
  padding: 15px;
}
.summary-quote .summary-content-inner ._summary-right .medical-option img,
.summary-quote .summary-content-inner ._summary-right .dental-option img {
  margin-right: 12px;
}
.summary-quote .summary-content-inner ._summary-right .medical-option p,
.summary-quote .summary-content-inner ._summary-right .dental-option p {
  display: inline;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 700;
  color: #a7a7a7;
}
.summary-quote .summary-content-inner ._summary-right .medical-option .badge,
.summary-quote .summary-content-inner ._summary-right .dental-option .badge {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  background-color: #acacac;
}
.summary-quote .summary-content-inner ._summary-right .medical-option.active p,
.summary-quote .summary-content-inner ._summary-right .dental-option.active p {
  color: #444444;
}
.summary-quote .summary-content-inner ._summary-right .medical-option.active .badge,
.summary-quote .summary-content-inner ._summary-right .dental-option.active .badge {
  display: none;
}

.option-box {
  background-color: #e7e9ea;
  padding: 30px 18px 30px 18px;
  text-align: center;
  transition: all 0.2s linear;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 25px;
  border-radius: 5px;
}
.option-box h4 {
  font-size: 18px;
  font-weight: bold;
}
.option-box .bottom .btn {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #858585;
  border-radius: 5px;
  height: 39px;
  max-width: 139px;
  padding: 7px 46px 10px 46px;
  color: #858585;
}
.option-box p {
  font-size: 15px;
}
.option-box:hover, .option-box.active {
  border: 2px solid #0098d6;
  background-color: white;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
}
.option-box:hover *, .option-box.active * {
  text-decoration: none;
}
.banner-blue-theme .option-box:hover, .standard-blue-theme .option-box:hover, .standard-theme .option-box:hover, .banner-theme .option-box:hover, .banner-blue-theme .option-box.active, .standard-blue-theme .option-box.active, .standard-theme .option-box.active, .banner-theme .option-box.active {
  border-color: #00529c;
}
.standard-green-theme .option-box:hover, .banner-green-theme .option-box:hover, .standard-green-theme .option-box.active, .banner-green-theme .option-box.active {
  border-color: #09600d;
}
.standard-orange-theme .option-box:hover, .banner-orange-theme .option-box:hover, .standard-orange-theme .option-box.active, .banner-orange-theme .option-box.active {
  border-color: #d86010;
}
.neutral-theme .option-box:hover, .neutral-theme .option-box.active {
  border-color: #00529c;
}
.blue-theme .option-box:hover, .blue-theme .option-box.active {
  border-color: #0098d6;
}
.orange-theme .option-box:hover, .orange-theme .option-box.active {
  border-color: #f46b10;
}
.green-theme .option-box:hover, .green-theme .option-box.active {
  border-color: #61a61c;
}
.option-box:hover .bottom .btn, .option-box.active .bottom .btn {
  border: 2px solid transparent;
  color: white;
}
.banner-blue-theme .option-box:hover .bottom .btn, .standard-blue-theme .option-box:hover .bottom .btn, .standard-theme .option-box:hover .bottom .btn, .banner-theme .option-box:hover .bottom .btn, .banner-blue-theme .option-box.active .bottom .btn, .standard-blue-theme .option-box.active .bottom .btn, .standard-theme .option-box.active .bottom .btn, .banner-theme .option-box.active .bottom .btn {
  background-color: #00529c;
}
.standard-green-theme .option-box:hover .bottom .btn, .banner-green-theme .option-box:hover .bottom .btn, .standard-green-theme .option-box.active .bottom .btn, .banner-green-theme .option-box.active .bottom .btn {
  background-color: #09600d;
}
.standard-orange-theme .option-box:hover .bottom .btn, .banner-orange-theme .option-box:hover .bottom .btn, .standard-orange-theme .option-box.active .bottom .btn, .banner-orange-theme .option-box.active .bottom .btn {
  background-color: #d86010;
}
.neutral-theme .option-box:hover .bottom .btn, .neutral-theme .option-box.active .bottom .btn {
  background-color: #00529c;
}
.blue-theme .option-box:hover .bottom .btn, .blue-theme .option-box.active .bottom .btn {
  background-color: #0098d6;
}
.orange-theme .option-box:hover .bottom .btn, .orange-theme .option-box.active .bottom .btn {
  background-color: #f46b10;
}
.green-theme .option-box:hover .bottom .btn, .green-theme .option-box.active .bottom .btn {
  background-color: #61a61c;
}

.contribution-selection, .contribution-description {
  background-color: white;
  padding: 45px 32px 45px 32px;
  margin-top: 5px;
}
.contribution-selection h3, .contribution-description h3 {
  font-size: 16px;
  font-weight: 500;
  color: #2e343d;
}

.contribution-description p {
  font-size: 12px;
}

.contribution-description td, th {
  font-size: 13px;
  text-align: center;
}

body#comps {
  background: linear-gradient(#fff 0%, #fff 30%, #efefef 100%);
}
body#comps h1 {
  color: #0098d6;
  font-size: 1.8rem;
  text-align: center;
  margin: 84px 0 8px;
}
body#comps h1:first-of-type {
  margin: 36px 0 8px;
}
body#comps img {
  box-shadow: 0 48px 48px -20px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=styles.css.map */
