

/* Safari 4.0 - 8.0 */
@-webkit-keyframes cc-fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes cc-fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
.cc-fade{
  -webkit-animation-name: cc-fade; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: cc-fade;
  animation-duration: 1s;
}

/////////////////////////////////////////////////////////////////////////////
// HTML & BODY
/////////////////////////////////////////////////////////////////////////////

html,body {
  font-family: $font-family-main;
  font-size: $main-font-size;
  height: 100%;
  color: $text-color;
}

h1,h2,h3,h4,h5,h6{
  color: $text-color;
  font-family: $font-family-header;
  font-weight: 600;
}

p{
  color: $text-color;
  font-family: $font-family-main;
  font-weight: 400;
}

body {
  background-color: $light-grey;
}

a{
  color: $primary-blue;
  &:hover{
    text-decoration: none;
  }
}

input{
  &.form-control{
    &:focus,
    &:active{
      outline: none;
      box-shadow: none;
    }
  }
}

.container {
  @include grid-md {
    max-width: $site-max-width;
  }
}

/////////////////////////////////////////////////////////////////////////////
// BODY
/////////////////////////////////////////////////////////////////////////////

#cc-body {
  padding: 48px 0 120px;
}

/////////////////////////////////////////////////////////////////////////////
// Site Level Alert
/////////////////////////////////////////////////////////////////////////////

.cc-site-alert {
    text-align: center;
    padding: 12px 4px;
    font-weight: 600;
    font-size: 1.1rem;
}

/////////////////////////////////////////////////////////////////////////////
// STATUS COLORS
/////////////////////////////////////////////////////////////////////////////

//Success
.cc-success {
  background-color: $color-success-bg !important;
  color: $color-success-text !important;
  &-text {
    color: $color-success-text !important;
  }
}

//Error
.cc-error {
  background-color: $color-error-bg !important;
  color: $color-error-text !important;
  &-text {
    color: $color-error-text !important;
  }
}

//Warning
.cc-warning {
  background-color: $color-warning-bg !important;
  color: $color-warning-text !important;
  &-text {
    color: $color-warning-text !important;
  }
}

//Info
.cc-info {
  background-color: $color-info-bg !important;
  color: $color-info-text !important;
  &-text {
    color: $color-info-text !important;
  }
}

/////////////////////////////////////////////////////////////////////////////
// Sticky Footer
/////////////////////////////////////////////////////////////////////////////

.cc-controls {
  padding: 24px 0;
  background-color: rgba(255,255,255,0.85);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;

  .left .btn-link,
  .right .btn-link {
    font-size: 14px;
  }
  .btn {
    color: $white; background-color: $primary-blue;
  }
  .right {
    margin-left: auto;
    a {
      margin-left: 55px;
    }
    .btn {
      margin-left: 70px;
    }
  }

  &.sticky {
    position: fixed;
    bottom: 0; left: 0; width: 100%; height: 112px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);

    &.sticky-stretch{bottom: -32px}
  }

  &-footer-links {
    background-color: $dark-grey;
    padding: 6px 0;
    margin-top: 20px;
    color: #fff;
    font-size: .85rem;
    a, :hover {
      color: #fff;
      font-size: .85rem;
    }
  }

}


/////////////////////////////////////////////////////////////////////////////
// BUTTONS
/////////////////////////////////////////////////////////////////////////////

.btn-link {
  text-decoration: underline;
  color: $text-color;
}

.btn.disabled, .btn:disabled {
  opacity: 1 !important;
  color: #a5a5a5 !important;
  background-color: #dddddd !important;
  border-color: #dddddd !important;
}

.btn, a.btn {
  font-size: 14px;
  text-transform: uppercase;
}

.btn {
  border-radius: 5px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border: none;
  padding: 8px 24px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;

  &-sm{
    padding: 4px 12px;
    font-size: 10px;
  }
}

.btn-white {
  background-color: $white;
  color: $text-color;
  border: 2px solid transparent;
  i {color: $primary-blue;}
}

.btn-white-outline{
  border: solid 1px white;
  color: $text-color;
  background-color: transparent;
}

.btn-grey-outline{
  color: $primary-blue;
  border: 1px solid $grey;
  background-color:  $white;
  box-shadow: none;
  &:hover{
    color: darken($primary-blue,20%);
    background-color: darken($white,3%);
  }
}

.btn-blue {
  background-color: $primary-blue;
  color: $white;
  &:hover{
    color: $white;
    background-color: darken($primary-blue,7%);
  }
}
.btn-group{
  .btn-blue{
    border-right: 2px solid #fff;
    &:last-child{
      border-right: none;
    }
  }
}

.btn-light-blue {
  background-color: $broker-blue;
  color: $white;
  &:hover{
    color: $white;
  }
}

.btn-orange{
  background-color: $dark-orange;
  color: $white;
  &:hover{
    color: $white;
  }
}

/////////////////////////////////////////////////////////////////////////////
// Unordered List
/////////////////////////////////////////////////////////////////////////////

ul.cc-ul {
  margin: 0; padding: 0; list-style-type: none;
  li {
    list-style: square;
    margin-left: 18px;
    ul {
      margin: 0; padding: 0;
      li {

      }
    }
    &.plain {
      list-style: none;
      margin-left: 0;
    }
  }
}

ol.cc-ol {
  margin: 0; padding: 0;
  li {
    margin-left: 18px;
    &.plain {
      list-style: none;
      margin-left: 0;
    }
  }
}

.cc-b-list{
  list-style: none;
  padding: 0;
  margin: 0;
  > li{
    b{
      display: inline-block;
      min-width: 35px;
    }
    + li{
      margin-top: 5px;
    }
  }

}

/////////////////////////////////////////////////////////////////////////////
// Custom Icons
/////////////////////////////////////////////////////////////////////////////

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ie8lhs');
  src:  url('fonts/icomoon.eot?ie8lhs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ie8lhs') format('truetype'),
    url('fonts/icomoon.woff?ie8lhs') format('woff'),
    url('fonts/icomoon.svg?ie8lhs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cc-icon-"], [class*=" cc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cc-icon-chiro:before {
  content: "\e900";
  //color: #fff;
}

/////////////////////////////////////////////////////////////////////////////
// Modals
/////////////////////////////////////////////////////////////////////////////

.modal-dialog {
  max-width: 620px;
  margin: 2.75rem auto;
  &.small {
    max-width: 400px;
  }
  .modal-content {
    border: none;

    .modal-header, .modal-body, .modal-footer {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .modal-header {
      border-bottom: none;
      padding-bottom: 0;
      padding-top: 2rem;
    }

    .modal-body {
      font-size: 0.9rem;

      .cc-logo-wrapper {
        margin-bottom: 24px;
        img {
          max-height: 160px;
          max-width: 300px;
        }
      }

      .cc-timer-wrapper {
        text-align: center;
        margin: 0rem;
        .time {
          font-size: 4rem;
          font-family: $font-family-digits;
          line-height: 3.4rem;
          color: #3c3e53;
          font-weight: 700;
        }
        .time-indicator {
          color: #81848c;
          font-size: 1rem;
          //font-family: $font-family-digits;
        }
      }

    }

    .modal-footer {
      background-color: $light-grey;
      border-top: none;
      //justify-content: end;
      justify-content: flex-end;
      .btn-blue {
        margin: 0 0 0 24px;
      }
    }
  }
}




/////////////////////////////////////////////////////////////////////////////
// Badges
/////////////////////////////////////////////////////////////////////////////

.badge {
  padding: 4px 8px;
  border-radius: 1rem;
  margin-left: .15rem;
  position: relative; top: -1px;
  font-size: 70%;
}

// ALERT WARNING
.alert-warning {
  border-color: $dark-orange;
  background-color: lighten($dark-orange,49);
  color: $text-color;
}

// Swtich
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #adb5bd;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 2px;
      background-color: #adb5bd;
      -webkit-transition: .4s;
      transition: .4s;
    }

    /* Rounded sliders */
    &.round {
      border-radius: 30px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $primary-blue;
      border-color: $primary-blue;

      &:before {
        -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
        transform: translateX(28px);
        background-color: #fff;
      }
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $primary-blue;
    }
  }
}

.file-upload-custom{
  input{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
}

.files-list{
  list-style: none;
  padding: 10px 0 0;
  margin: 10px 0 0;
  border-top: 1px solid $grey;
  > li{
    display: block;
    .remove-file{
      float: right;
    }
    + li{
      margin-top: 5px;
    }
  }
}