header#cc-header {
  min-height: 85px;
  background-color: $light-grey;
  border-bottom: 6px solid $primary-blue;

  .cc-header__wrapper {
    background-repeat: no-repeat;
    min-height: 88px;

    .navbar-brand{
      margin-right: 2rem;
      img{
        max-width: 260px;
      }
    }
  }

  .cc-header__main-nav {
    padding: 14px 0;
    .navbar-nav {
      .nav-item {
        + .nav-item{
          margin-left: 30px;
        }

        .nav-link {
          font-weight: 600;
          color: $text-color;
        }
      }

      //li:first-child {
      //  margin-left: 41px;
      //}

      .dropdown{
        &.show{
          .dropdown-toggle{
            color: $primary-blue;
          }
        }
        .dropdown-menu{
          //border: 1px solid $outline-grey;
          border: none;
          border-radius: .15rem;
          -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.25);
          -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.25);
          box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.25);
          .dropdown-item{

            &:focus,&:hover {
              background-color: transparent;
              color: $primary-blue;
            }

            + .dropdown-item{
              //border-top: 1px solid darken($light-grey,3);
            }
          }
        }
      }
    }
  }
}

#cc-subheader {
  padding: 42px 0 0;
  //background-color: $primary-blue;
  background-color: $white;

  h2 {
    font-size: 1.9rem;
    //color: $white;
    color: $text-color;
  }
  p {
    font-size: 15px;
    //color: $white;
    color: $text-color;
  }

  .cc-subheader__menu {
    display: flex;
    justify-content: flex-end;

    .btn.primary, .btn.secondary {
      -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.25);
      box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.25);
    }

    .btn.primary {
      border-style: solid;
      border-width: 1px;
      //background-color: $white;
      //border-color: $white;
      //color: $text-color;
      background-color: $primary-blue;
      border-color: $primary-blue;
      color: $white;
    }

    .dd-transparent {
      .btn.secondary {
        border-style: solid;
        border-width: 1px;
        min-width: 84px;
        //background-color: transparent;
        //border-color: $white;
        //color: $white;
        background-color: $white;
        border-color: $primary-blue;
        color: $primary-blue;
      }
    }
  }

  .cc-subheader__tabs{
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    .nav-link{
      font-size: 15px;
      border-bottom: 4px solid transparent;
      padding-bottom: 6px;
      //color: $white;
      color: $text-color;

      /*
      &:hover {
        color: $white;
      }
      */

      &.active,
      &:focus{
        font-weight: 600;
        border-bottom: 5px solid;
        padding-bottom: 8px;
        color: $text-color;
        //padding-bottom: 4px;
        //background-color: $light-grey;
        //border-top-right-radius: 4px;
        //border-top-left-radius: 4px;
        //box-shadow: inset 0px 16px 7px -8px rgba(0, 0, 0, 0.08);
        //border-bottom-color: $light-grey;
        border-bottom-color: $primary-blue;
      }

      &.disabled {
        color: $grey;
      }

    }
  }


  .cc-subheader__progressive-tabs {
    padding: 13px 0;
    margin-top: 30px;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid $grey;
    background: linear-gradient(#fff 0%, #EFF2F3 70%, #EFF2F3 100%);


    a{
      display: inline-block;
      padding: 12px 24px;
      border-radius: 5px;
      opacity: 0.4;
      font-size: 15px;
      font-weight: 400;
      color: $text-color;
      position: relative;
      &.active{
        font-weight: 600;
        background-color: $primary-blue;
        color: $white;

        span{
          border-width: 2px;
          border-style: solid;
          width: 28px;
          height: 28px;
          display: inline-block;
          border-radius: 50%;
          margin-right: 9px;
          font-size: 15px;
          text-align: center;
          color: $white;
          line-height: 27px;
          border-color: $white;
          font-weight: 600;
        }

        &:after{
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-width: 12px 0 12px 12px;
          border-style: solid;
          position: absolute;
          right: -12px;
          top: 50%;
          margin-top: -12px;
          border-color: transparent transparent transparent $primary-blue;
        }
      }
      &.prev,
      &.active{
        opacity: 1;
      }

      span{
        border-width: 2px;
        border-style: solid;
        width: 28px;
        height: 28px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 9px;
        font-size: 15px;
        text-align: center;
        color: $text-color;
        line-height: 27px;
        border-color: $text-color;
      }
    }

    &.v2 {
      a {

        padding: 15px 10px 15px 25px;
        margin-right: 15px;

        &.active {
          &:after {
            border-width: 27px 0 27px 27px;
            right: -27px;
            top: 2px;
            margin-top: 0;
          }
        }
      }
    }

  }

}


.main-header{
  background-color: rgba(256,256,256,0.9);
  z-index: 999;

  &.fixed{
    position: fixed;
    width: 100%;
  }

  .cc-header__wrapper {
    background-repeat: no-repeat;
    min-height: 88px;

    .navbar-brand{
      margin-right: 2rem;
      img{
        max-width: 260px;
      }
    }

    &.logo-cc {
      background-size: 260px;
      background-image: url('../../global/img/calchoicelogo.png');
      background-position: 0 20px;
      padding-left: 300px;
    }
  }

  .cc-header__main-nav {
    padding: 14px 0;
    .navbar-nav {
      .nav-item {
        + .nav-item{
          margin-left: 30px;
        }

        .nav-link {
          font-weight: 600;
          color: $text-color;
        }
      }

      //li:first-child {
      //  margin-left: 41px;
      //}

      .dropdown{
        &.show{
          .dropdown-toggle{
            color: $primary-blue;
          }
        }
        .dropdown-menu{
          //border: 1px solid $outline-grey;
          border: none;
          border-radius: .15rem;
          -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.25);
          -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.25);
          box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.25);
          .dropdown-item{

            &:focus,&:hover {
              background-color: transparent;
              color: $primary-blue;
            }

            + .dropdown-item{
              //border-top: 1px solid darken($light-grey,3);
            }
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////
// Page Title below Sub Banner/Header
/////////////////////////////////////////////////////////////////////////////

// use as sub-title area typically above the cc-card-wrapper
.section-overview-title {
  margin: 24px 0 48px;
  h2 {
    font-size: 1.6rem;
  }
}