///////////////////////////////////////////////////////
// Public Layout
///////////////////////////////////////////////////////

.cc-public-content-template{
  a:not(.btn){color: $broker-blue; font-weight: 600;}

  section.cc-content-template-hero {
    background: transparent url("../images/public-layout/public-banner.jpg") no-repeat 50% 0%;
    height: 50vh;
    background-size: cover;
    //background-attachment: fixed;
  }

  section.cc-content-template-outer-wrapper {
    padding: 82px 0;

    h1 {
      color: $broker-blue; font-size: 56px; font-weight: 600;
      margin-bottom: 2.5rem; text-align: center;
    }
    
    h2 {
      color: #2e343d; font-size: 32px; font-weight: 400;
      margin-bottom: 2.5rem; text-align: center;
    }

    .media {
      h5 {
        color: #0098D6;
      }
    }

  } /* cc-content-template-outer-wrapper */

}

///////////////////////////////////////////////////////
// Public Layout > Unique Sections
///////////////////////////////////////////////////////

.employee-requirements {
  .main-avatar {
    max-width: 415px;
    margin: -45px auto 85px;
    display: block;
  }

  .employee-requirement-box {
    text-align: center;
    position: relative;
    @include grid-md-down {
      margin-bottom: 52px;
    }
    .dots{
      position: absolute;
      @include grid-md-down {
        display: none;
      }
    }
    .icon {
      width: 190px;
      height: 190px;
      border-radius: 50%;
      text-align: center;
      line-height: 180px;
      margin-bottom: 40px;
      @include grid-md-down {
        margin-bottom: 16px;
      }
      display: inline-block;
      img {
        width: 100px;
      }
    }
    &.light-blue {
      .dots{
        width: 190px;
        left: 74%;
        bottom: 100%;
      }
      .icon {
        background-color: #0099d9;
      }
    }
    &.blue {
      .dots{
        width: 36px;
        left: 60%;
        bottom: 104%;
      }
      .icon {
        background-color: #00529c;
      }
    }
    &.green {
      .dots{
        width: 36px;
        right: 60%;
        bottom: 104%;
      }
      .icon {
        background-color: #9ecb3b;
      }
    }
    &.orange {
      .dots{
        width: 190px;
        right: 74%;
        bottom: 100%;
      }
      .icon {
        background-color: #f47321;
      }
    }
  }

}

///////////////////////////////////////////////////////
// Public Layout > General Helper Classes
///////////////////////////////////////////////////////

.cc-bordered-box {
  border: 2px solid rgb(242, 244, 245);
  padding: 34px;
}
.cc-white-box{
  background-color: rgb(255, 255, 255);
  padding: 34px;
  margin-bottom: 30px;
  min-height: 120px;
  width: 100%;
  ul{
    height: 50px;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}

.cc-quote-bg{
  background: $broker-blue url("../images/public-layout/quote-bg.png") no-repeat 50% 50%;
  background-size: cover;
  padding: 40px;
  text-align: center;
  p{
    margin: 0;
    font-size: 31px;
    color: $white;
    font-style: italic;
  }
}
