/*.dropdown{
  &.w-100{
    .btn{
      width: 100%;
      text-align: left;
      padding-left: 16px;
      padding-right: 16px;
      &:after {
        float: right;
        margin-top: 8px;
      }
    }
  }
}
*/

///////////////////////////////////////////////////////
// Flex Row
///////////////////////////////////////////////////////

.cc-flex-row {
  display: flex;
  justify-content: space-between;

  div.cc-flex-item {
    //flex: 1 0 auto;
    //background-color: red;
    margin: 0 12px;
    width: 100%;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    .cc-card {
      height: 100%;
      flex: 1 0 auto;
    }

  }

}
a.radio-row {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #efefef;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 12px 18px;
  margin-bottom: 12px;
  //background-image: url("../images/icons/radio-unchecked.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 18px) 50%;
  color: $primary-blue;
  transition: all 0.3s ease 0s;
  &:hover, &:focus, &:active, &.selected {
    //background-image: url("../images/icons/radio-selected.png");
    background-color: $broker-blue;
    color: $white;
  }
  &:not(.selected):hover {
    border: 1px solid #ccc;
    background-color: lighten(#efefef, 3%);
    color: $primary-blue;
  }
}
///////////////////////////////////////////////////////
// Application
///////////////////////////////////////////////////////

i.fa-calendar-alt {
  color: $primary-blue;
  font-size: 1.3rem;
  vertical-align: middle;
}

///////////////////////////////////////////////////////
// Metal Tier
///////////////////////////////////////////////////////

.metaltier-header {
  height: 100px;
  box-shadow: 0 19px 19px -28px rgba(0, 0, 0, 0.3);
  margin-bottom: 34px;
}
.metaltier-action {
  a.btn {
    display: block;
    width: 100%;
    margin-bottom: .75rem;
  }
}
///////////////////////////////////////////////////////
// Contribution
///////////////////////////////////////////////////////

.cc-contribution {

  .contribution-header {
    height: 134px;
    box-shadow: 0 19px 19px -28px rgba(0, 0, 0, 0.3);
    margin-bottom: 32px;
    padding: 0 8px;
    p {
      font-size: 0.8rem;
    }
  }

  .cc-card {
    h5 {
      font-size: 1.3rem;
      margin-bottom: 12px;
    }
  }
}

.cost-forms {
  .or-circle {
    background-color: $broker-blue;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-group {
    label {
      font-weight: 300;
    }
  }
  hr {
    margin-left: -32px;
    margin-right: -32px;
  }
}
///////////////////////////////////////////////////////
// Optional Benefits
///////////////////////////////////////////////////////

.cc-optional-benefits {
  .cc-flex-item {
    .custom-checkbox {
      padding-left: 30px;
      margin-bottom: 8px;
      .custom-control-label{
        font-size: 1rem;
        font-weight: 700;
        &::before,
        &::after {
          left: -30px;
        }
      }
    }
    p {
      font-size: 0.8rem;
      margin-left: 30px;
    }
  }
}

.optional-benefits-body{
  .custom-checkbox{
    .custom-control-label{
      &::before{
        border-radius: 0;
      }
    }
  }
}

///////////////////////////////////////////////////////
// Management
///////////////////////////////////////////////////////

.th-progress {
  width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  span {
    font-size: 0.8rem;
    padding: 0.25rem;
    border: 1px solid $white;
    background-color: $dark-green;
    color: $white;
    border-radius: 2px;
  }
}
.progress-step {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 9px;
  line-height: 20px;
  text-align: center;;
  color: #fff;
  position: absolute;
  top: -10px;
  &.first {
    left: -10px;
    &.active {
      //border-color: lighten($dark-green,15%);
      //background-color: lighten($dark-green,15%);
    }
  }
  &.second {
    left: 50%;
    margin-left: -10px;
    &.active {
      //border-color: lighten($dark-green,8%);
      //background-color: lighten($dark-green,8%);
    }
  }
  &.third {
    right: -10px;
    &.active {
      //border-color: $dark-green;
      //background-color: $dark-green;
    }
  }
  &.active {
    color: #fff;
    border-color: $dark-green;
    background-color: $dark-green;
  }
}
.ole-progress {
  width: 200px;
  margin: 0 auto;
  height: 3px;
  background-color: #dadada;
  overflow: visible;
  position: relative;
  .progress-bar {
    background-color: #aaaaaa;
  }

  &.vertical{
    width: 3px;
    height: 200px;
    .progress-bar {
      width: 100%;
    }

    .progress-step {
      left: -9px;
      &.first {
        top: -10px;
      }
      &.second {
        top: 50%;
        margin-top: -10px;
        margin-left: 0;
      }
      &.third {
        bottom: -10px;
        right: auto;
        top: auto;
      }
    }
  }
}

///////////////////////////////////////////////////////
// Management-details
///////////////////////////////////////////////////////

.data-tables-top {
  display: inline-block;
  margin-left: auto;
  float: right;
  margin-bottom: -38px;
  position: relative;
  z-index: 1;

  .data-tables-top-action{
    &.btn-group{
      .btn{
        padding: 5px 16px 4px;
        color: #000;
      }
    }
  }
}
.progress-widget {
  position: relative;
  padding-left: 22px;
  ul {
    list-style: none;
    padding: 0;
    li {
      .media {
        margin-bottom: 10px;
        //.progress-check {
        //  width: 20px;
        //  height: 20px;
        //  line-height: 16px;
        //  background-color: #fff;
        //  border: 1px solid #dfe7ea;
        //  border-radius: 50%;
        //  margin-right: 20px;
        //  text-align: center;
        //  position: relative;
        //  z-index: 0;
        //  &.active {
        //    background-color: #09600d;
        //    color: #fff;
        //    border-color: #09600d;
        //  }
        //  &::after {
        //    content: '';
        //    width: 2px;
        //    height: 84px;
        //    position: absolute;
        //    background-color: #dfe7ea;
        //    top: 19px;
        //    left: 8px;
        //    bottom: 0;
        //    z-index: -6;
        //    overflow: hidden;
        //  }
        //  &.last-child:after {
        //    display: none;
        //  }
        //  i {
        //    font-size: 10px;
        //    margin: 0;
        //    color: #fff;
        //  }
        //}
        .media-body {
          padding-bottom: 10px;
          border-bottom: 1px solid #dfe7ea;
        }
      }
    }
  }

  .ole-progress{
    position: absolute;
    left: 3px;
    top: 11px;
    height: 166px;
  }
}
.management-detail-page {
  .cc-card {
    .media {
      margin-top: 10px;
      margin-bottom: 10px;
      span {
        i {
          color: #00529c;
          font-size: 20px;
          margin-right: .50rem;
        }
      }
      .media-body {
        border-bottom: none;
      }
    }
  }
  .cc-table__td-action {
    .cc-table__td-dropdown {
      button.btn {
        text-align: left;
        font-weight: 400;
        width: 100%;
        color: #00529c;
        padding-left: 10px;
        &:after {
          float: right;
          margin-top: 8px;
          margin-right: 7px;
        }
      }
    }
  }
  .ole-management-right-widgets {

    .date {
      p {
        margin-bottom: 4px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .completed {
      span {
        height: 45px;
        width: 60px;
        border-radius: 5px;
        background-color: $color-success-bg;
        color: $white;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .remaining {
      span {
        height: 45px;
        width: 60px;
        border-radius: 5px;
        background-color: #f1f1f1;
        color: $text-color;
        //border: 1px solid $text-color;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .days-left {
      p {
        margin: 0;
      }
      span {
        height: 45px;
        width: 60px;
        border-radius: 5px;
        background-color: $color-warning-bg;
        color: $text-color;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .summary-table {
      thead tr th {
        border-top: none;
      }
      tbody tr td {
        font-size: 11px;
        i {
          font-size: 14px;
        }
        a {
          font-size: 13px;
          text-decoration: underline;
          color: #000;
          i {
            font-size: 14px;
          }
        }
      }
    }
  }

  .information-statuses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .status-item {
      flex: 1 1 auto;
      padding: 0 5px;
      margin: 0 5px;
      width: 18%;
      border-right: 1px solid #dfe7ea;
      &:last-child {
        border-right: none;
      }
      .number {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.4em;
      }
      p {
        margin: 0;
        text-transform: uppercase;
      }
    }

  }
}

///////////////////////////////////////////////////////
// er-ole-census
///////////////////////////////////////////////////////

a.census-info-dependents {
  i.far {font-size: 1.0rem; margin-right: 4px;}
}

.census-info {
  padding: 2px 0 0 40px;
  p {
    font-size: 0.8rem;
    span{
      min-width: 15.5%;
      display: inline-block;
      font-weight: 600;
    }
  }
}