///////////////////////////////////////////////////////
// Overview Pages
///////////////////////////////////////////////////////

.cc-overview-intro {
  .media {
    i.fal {
      color: $primary-blue;
      font-size: 2.0rem;
      margin-right: 1rem;
    }
    .media-body {
      h6 {
        margin-top: 0.35rem;
      }
    }
  }
  hr {
    margin-bottom: 2.6rem;
  }
}

///////////////////////////////////////////////////////
// Quotes > View Existing > Accordion Table
///////////////////////////////////////////////////////

  .table-files-list{
    list-style: none;
    margin: 0;
    padding: 12px 18px 10px 71px;
    li{
      display: inline-block;
      padding: 2px 16px;
      border-left: 1px solid #dddddd;
      vertical-align: middle;
      &:first-child{
        border-left: none;
        padding-left: 0;
      }
      p{
        margin: 0;
      }
      a{
        //color: #000000;
        //font-size: 16px;
        i{
          //font-size: 1.2em;
          margin-right: 5px;
        }
      }
    }
  }

///////////////////////////////////////////////////////
// Initial Quote
///////////////////////////////////////////////////////

.quote-includes {
  padding: 1rem 0 0;
  .row {
    text-align: center;
  }
  i {
    font-size: 2rem; color: #00529c; margin-bottom: 0.2rem;
  }
  h4 {
    font-size: 0.9rem; font-weight: 400; text-transform: capitalize; color: #444;
    margin-bottom: 0;
  }
  ul {
    padding: 0; margin: 0;
    li {
      list-style: none;
      font-size: 16px; font-weight: 400;
      & + li {
        margin-top: 15px;
      }
    }
  }
}

.quote-optional {
  ._right {
    label {
      font-weight: 400; font-size: 14px;
    }
  }

  ul {
    list-style: none; padding: 0; margin: 0;
    li {
      padding: 14px 18px;
      background: #fbfbfb;

      label {
        color: #2e343d;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 400;
      }

      &.active {
        background: #F8F9FB;
      }
      & + li {
        margin-top: 4px;
      }
    }
  }
}

.info-section {
  .info-box {
    padding-left: 15px;
    i {
      display: flex;
      font-size: 24px;
      margin-right: 12px;
      color: $primary-blue;
    }
    h4 {
      font-size: 1.2rem;
      margin-bottom: 12px;
    }
    p {
      font-size: 14px;
      color: #2e343d;
      margin: 0;
    }
  }
}


.delivery-email {
  h4 {
    color: #2e343d;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
  }
  .form-control {
    width: 51%;
    font-size: 14px;
    color: #6e6e6e;
  }
  p {
    color: #75777a;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 12px;
  }
}

.public-contact-form{
  .form-control{
    border: none;
    border-bottom: 2px solid #75777a;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 41px;
    height: auto;
    color: #75777a;
  }
  .radio-options{
    > *{
      vertical-align: middle;
    }
  }
  .custom-control-label::before {
    border-width: 2px;
    border-color: rgb(120, 119, 122);
    background-color: rgb(242, 244, 245);
    width: 16px;
    height: 16px;
  }
}

.main-footer{
  background-color: #2e343d;
  p{
    color: #acb8ca;
  }
  .footer-logo{
    max-width: 280px;
    margin-bottom: 35px;
  }
  .footer-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 22px 0 40px;
    a{
      color: #acb8ca;
    }
  }
  .footer-top{
    padding: 35px 0 25px;
    border-bottom: 1px solid rgba(230,231,232,0.25);

    p{
      margin: 0;
    }
  }
  .copyright{
    margin: 0;
  }
  .footer-bottom{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

    .social-list{
      a{
        color: #acb8ca;
        display: inline-block;
        font-size: 24px;
        + a{
          margin-left: 12px;
        }
      }
    }
  }
}


///////////////////////////////////////////////////////
// Order Supplies
///////////////////////////////////////////////////////