@import url("https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro:700|Open+Sans&display=swap");
/* Safari 4.0 - 8.0 */
@-webkit-keyframes cc-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Standard syntax */
@keyframes cc-fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.cc-fade {
  -webkit-animation-name: cc-fade;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: cc-fade;
  animation-duration: 1s; }

html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100%;
  color: #444444; }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-weight: 600; }

p {
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

body {
  background-color: #eff2f3; }

a {
  color: #00529c; }
  a:hover {
    text-decoration: none; }

input.form-control:focus, input.form-control:active {
  outline: none;
  box-shadow: none; }

@media only screen and (min-width: 48em) {
  .container {
    max-width: 1280px; } }

#cc-body {
  padding: 48px 0 120px; }

.cc-site-alert {
  text-align: center;
  padding: 12px 4px;
  font-weight: 600;
  font-size: 1.1rem; }

.cc-success {
  background-color: #007000 !important;
  color: #E6E7E8 !important; }
  .cc-success-text {
    color: #E6E7E8 !important; }

.cc-error {
  background-color: #B90909 !important;
  color: #E6E7E8 !important; }
  .cc-error-text {
    color: #E6E7E8 !important; }

.cc-warning {
  background-color: #F5DB1F !important;
  color: #2E343D !important; }
  .cc-warning-text {
    color: #2E343D !important; }

.cc-info {
  background-color: #00529c !important;
  color: #E6E7E8 !important; }
  .cc-info-text {
    color: #E6E7E8 !important; }

.cc-controls {
  padding: 24px 0;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .cc-controls .left .btn-link,
  .cc-controls .right .btn-link {
    font-size: 14px; }
  .cc-controls .btn {
    color: #ffffff;
    background-color: #00529c; }
  .cc-controls .right {
    margin-left: auto; }
    .cc-controls .right a {
      margin-left: 55px; }
    .cc-controls .right .btn {
      margin-left: 70px; }
  .cc-controls.sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 112px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); }
    .cc-controls.sticky.sticky-stretch {
      bottom: -32px; }
  .cc-controls-footer-links {
    background-color: #535353;
    padding: 6px 0;
    margin-top: 20px;
    color: #fff;
    font-size: .85rem; }
    .cc-controls-footer-links a, .cc-controls-footer-links :hover {
      color: #fff;
      font-size: .85rem; }

.btn-link {
  text-decoration: underline;
  color: #444444; }

.btn.disabled, .btn:disabled {
  opacity: 1 !important;
  color: #a5a5a5 !important;
  background-color: #dddddd !important;
  border-color: #dddddd !important; }

.btn, a.btn {
  font-size: 14px;
  text-transform: uppercase; }

.btn {
  border-radius: 5px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border: none;
  padding: 8px 24px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s; }
  .btn-sm {
    padding: 4px 12px;
    font-size: 10px; }

.btn-white {
  background-color: #ffffff;
  color: #444444;
  border: 2px solid transparent; }
  .btn-white i {
    color: #00529c; }

.btn-white-outline {
  border: solid 1px white;
  color: #444444;
  background-color: transparent; }

.btn-grey-outline {
  color: #00529c;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  box-shadow: none; }
  .btn-grey-outline:hover {
    color: #001c36;
    background-color: #f7f7f7; }

.btn-blue {
  background-color: #00529c;
  color: #ffffff; }
  .btn-blue:hover {
    color: #ffffff;
    background-color: #003f78; }

.btn-group .btn-blue {
  border-right: 2px solid #fff; }
  .btn-group .btn-blue:last-child {
    border-right: none; }

.btn-light-blue {
  background-color: #0098D6;
  color: #ffffff; }
  .btn-light-blue:hover {
    color: #ffffff; }

.btn-orange {
  background-color: #d86010;
  color: #ffffff; }
  .btn-orange:hover {
    color: #ffffff; }

ul.cc-ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.cc-ul li {
    list-style: square;
    margin-left: 18px; }
    ul.cc-ul li ul {
      margin: 0;
      padding: 0; }
    ul.cc-ul li.plain {
      list-style: none;
      margin-left: 0; }

ol.cc-ol {
  margin: 0;
  padding: 0; }
  ol.cc-ol li {
    margin-left: 18px; }
    ol.cc-ol li.plain {
      list-style: none;
      margin-left: 0; }

.cc-b-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .cc-b-list > li b {
    display: inline-block;
    min-width: 35px; }
  .cc-b-list > li + li {
    margin-top: 5px; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ie8lhs");
  src: url("fonts/icomoon.eot?ie8lhs#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ie8lhs") format("truetype"), url("fonts/icomoon.woff?ie8lhs") format("woff"), url("fonts/icomoon.svg?ie8lhs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="cc-icon-"], [class*=" cc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cc-icon-chiro:before {
  content: "\e900"; }

.modal-dialog {
  max-width: 620px;
  margin: 2.75rem auto; }
  .modal-dialog.small {
    max-width: 400px; }
  .modal-dialog .modal-content {
    border: none; }
    .modal-dialog .modal-content .modal-header, .modal-dialog .modal-content .modal-body, .modal-dialog .modal-content .modal-footer {
      padding-left: 2rem;
      padding-right: 2rem; }
    .modal-dialog .modal-content .modal-header {
      border-bottom: none;
      padding-bottom: 0;
      padding-top: 2rem; }
    .modal-dialog .modal-content .modal-body {
      font-size: 0.9rem; }
      .modal-dialog .modal-content .modal-body .cc-logo-wrapper {
        margin-bottom: 24px; }
        .modal-dialog .modal-content .modal-body .cc-logo-wrapper img {
          max-height: 160px;
          max-width: 300px; }
      .modal-dialog .modal-content .modal-body .cc-timer-wrapper {
        text-align: center;
        margin: 0rem; }
        .modal-dialog .modal-content .modal-body .cc-timer-wrapper .time {
          font-size: 4rem;
          font-family: "Source Code Pro", monospace;
          line-height: 3.4rem;
          color: #3c3e53;
          font-weight: 700; }
        .modal-dialog .modal-content .modal-body .cc-timer-wrapper .time-indicator {
          color: #81848c;
          font-size: 1rem; }
    .modal-dialog .modal-content .modal-footer {
      background-color: #eff2f3;
      border-top: none;
      justify-content: flex-end; }
      .modal-dialog .modal-content .modal-footer .btn-blue {
        margin: 0 0 0 24px; }

.badge {
  padding: 4px 8px;
  border-radius: 1rem;
  margin-left: .15rem;
  position: relative;
  top: -1px;
  font-size: 70%; }

.alert-warning {
  border-color: #d86010;
  background-color: #fdefe5;
  color: #444444; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  /* The slider */
  /* Hide default HTML checkbox */ }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #adb5bd;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    /* Rounded sliders */ }
    .switch .slider:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 2px;
      background-color: #adb5bd;
      -webkit-transition: .4s;
      transition: .4s; }
    .switch .slider.round {
      border-radius: 30px; }
      .switch .slider.round:before {
        border-radius: 50%; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
    .switch input:checked + .slider {
      background-color: #00529c;
      border-color: #00529c; }
      .switch input:checked + .slider:before {
        -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
        transform: translateX(28px);
        background-color: #fff; }
    .switch input:focus + .slider {
      box-shadow: 0 0 1px #00529c; }

.file-upload-custom input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0; }

.files-list {
  list-style: none;
  padding: 10px 0 0;
  margin: 10px 0 0;
  border-top: 1px solid #cccccc; }
  .files-list > li {
    display: block; }
    .files-list > li .remove-file {
      float: right; }
    .files-list > li + li {
      margin-top: 5px; }

header#cc-header {
  min-height: 85px;
  background-color: #eff2f3;
  border-bottom: 6px solid #00529c; }
  header#cc-header .cc-header__wrapper {
    background-repeat: no-repeat;
    min-height: 88px; }
    header#cc-header .cc-header__wrapper .navbar-brand {
      margin-right: 2rem; }
      header#cc-header .cc-header__wrapper .navbar-brand img {
        max-width: 260px; }
  header#cc-header .cc-header__main-nav {
    padding: 14px 0; }
    header#cc-header .cc-header__main-nav .navbar-nav .nav-item + .nav-item {
      margin-left: 30px; }
    header#cc-header .cc-header__main-nav .navbar-nav .nav-item .nav-link {
      font-weight: 600;
      color: #444444; }
    header#cc-header .cc-header__main-nav .navbar-nav .dropdown.show .dropdown-toggle {
      color: #00529c; }
    header#cc-header .cc-header__main-nav .navbar-nav .dropdown .dropdown-menu {
      border: none;
      border-radius: .15rem;
      -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.25); }
      header#cc-header .cc-header__main-nav .navbar-nav .dropdown .dropdown-menu .dropdown-item:focus, header#cc-header .cc-header__main-nav .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: transparent;
        color: #00529c; }

#cc-subheader {
  padding: 42px 0 0;
  background-color: #ffffff; }
  #cc-subheader h2 {
    font-size: 1.9rem;
    color: #444444; }
  #cc-subheader p {
    font-size: 15px;
    color: #444444; }
  #cc-subheader .cc-subheader__menu {
    display: flex;
    justify-content: flex-end; }
    #cc-subheader .cc-subheader__menu .btn.primary, #cc-subheader .cc-subheader__menu .btn.secondary {
      -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.25); }
    #cc-subheader .cc-subheader__menu .btn.primary {
      border-style: solid;
      border-width: 1px;
      background-color: #00529c;
      border-color: #00529c;
      color: #ffffff; }
    #cc-subheader .cc-subheader__menu .dd-transparent .btn.secondary {
      border-style: solid;
      border-width: 1px;
      min-width: 84px;
      background-color: #ffffff;
      border-color: #00529c;
      color: #00529c; }
  #cc-subheader .cc-subheader__tabs {
    margin-top: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    #cc-subheader .cc-subheader__tabs .nav-link {
      font-size: 15px;
      border-bottom: 4px solid transparent;
      padding-bottom: 6px;
      color: #444444;
      /*
      &:hover {
        color: $white;
      }
      */ }
      #cc-subheader .cc-subheader__tabs .nav-link.active, #cc-subheader .cc-subheader__tabs .nav-link:focus {
        font-weight: 600;
        border-bottom: 5px solid;
        padding-bottom: 8px;
        color: #444444;
        border-bottom-color: #00529c; }
      #cc-subheader .cc-subheader__tabs .nav-link.disabled {
        color: #cccccc; }
  #cc-subheader .cc-subheader__progressive-tabs {
    padding: 13px 0;
    margin-top: 30px;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #cccccc;
    background: linear-gradient(#fff 0%, #EFF2F3 70%, #EFF2F3 100%); }
    #cc-subheader .cc-subheader__progressive-tabs a {
      display: inline-block;
      padding: 12px 24px;
      border-radius: 5px;
      opacity: 0.4;
      font-size: 15px;
      font-weight: 400;
      color: #444444;
      position: relative; }
      #cc-subheader .cc-subheader__progressive-tabs a.active {
        font-weight: 600;
        background-color: #00529c;
        color: #ffffff; }
        #cc-subheader .cc-subheader__progressive-tabs a.active span {
          border-width: 2px;
          border-style: solid;
          width: 28px;
          height: 28px;
          display: inline-block;
          border-radius: 50%;
          margin-right: 9px;
          font-size: 15px;
          text-align: center;
          color: #ffffff;
          line-height: 27px;
          border-color: #ffffff;
          font-weight: 600; }
        #cc-subheader .cc-subheader__progressive-tabs a.active:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-width: 12px 0 12px 12px;
          border-style: solid;
          position: absolute;
          right: -12px;
          top: 50%;
          margin-top: -12px;
          border-color: transparent transparent transparent #00529c; }
      #cc-subheader .cc-subheader__progressive-tabs a.prev, #cc-subheader .cc-subheader__progressive-tabs a.active {
        opacity: 1; }
      #cc-subheader .cc-subheader__progressive-tabs a span {
        border-width: 2px;
        border-style: solid;
        width: 28px;
        height: 28px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 9px;
        font-size: 15px;
        text-align: center;
        color: #444444;
        line-height: 27px;
        border-color: #444444; }
    #cc-subheader .cc-subheader__progressive-tabs.v2 a {
      padding: 15px 10px 15px 25px;
      margin-right: 15px; }
      #cc-subheader .cc-subheader__progressive-tabs.v2 a.active:after {
        border-width: 27px 0 27px 27px;
        right: -27px;
        top: 2px;
        margin-top: 0; }

.main-header {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999; }
  .main-header.fixed {
    position: fixed;
    width: 100%; }
  .main-header .cc-header__wrapper {
    background-repeat: no-repeat;
    min-height: 88px; }
    .main-header .cc-header__wrapper .navbar-brand {
      margin-right: 2rem; }
      .main-header .cc-header__wrapper .navbar-brand img {
        max-width: 260px; }
    .main-header .cc-header__wrapper.logo-cc {
      background-size: 260px;
      background-image: url("../../global/img/calchoicelogo.png");
      background-position: 0 20px;
      padding-left: 300px; }
  .main-header .cc-header__main-nav {
    padding: 14px 0; }
    .main-header .cc-header__main-nav .navbar-nav .nav-item + .nav-item {
      margin-left: 30px; }
    .main-header .cc-header__main-nav .navbar-nav .nav-item .nav-link {
      font-weight: 600;
      color: #444444; }
    .main-header .cc-header__main-nav .navbar-nav .dropdown.show .dropdown-toggle {
      color: #00529c; }
    .main-header .cc-header__main-nav .navbar-nav .dropdown .dropdown-menu {
      border: none;
      border-radius: .15rem;
      -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.25); }
      .main-header .cc-header__main-nav .navbar-nav .dropdown .dropdown-menu .dropdown-item:focus, .main-header .cc-header__main-nav .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: transparent;
        color: #00529c; }

.section-overview-title {
  margin: 24px 0 48px; }
  .section-overview-title h2 {
    font-size: 1.6rem; }

.table thead th {
  border-top: none; }

.card-table thead tr th {
  border-top: none;
  font-size: 0.8rem;
  text-transform: uppercase; }
  .card-table thead tr th.card-table-highlight {
    background-color: #FEF5EF; }
  .card-table thead tr th.th-icon i {
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: #f47421; }
.card-table tbody tr td {
  font-size: 0.9rem;
  vertical-align: middle; }
  .card-table tbody tr td.card-table-highlight {
    background-color: #FEF5EF; }
  .card-table tbody tr td i {
    font-size: 1.1rem; }
.card-table tbody tr.adjustment-tr td {
  border-top-color: transparent;
  font-style: italic; }
.card-table tbody tr.adjustment-total-tr td {
  padding: 1rem 0.75rem; }
.card-table tbody tr.middle-tr th {
  background-color: #eff2f3; }
.card-table tbody tr.border-top-0 td {
  border-top-color: transparent; }
.card-table tbody.card-table-no-headers tr:first-child td {
  border-top: none; }
.card-table tbody.card-table-no-headers tr:first-child th {
  border-top: none; }

table[id^="cc-table-data"] {
  border-bottom: 1px solid #e3e9ea; }
  table[id^="cc-table-data"] thead tr {
    background-color: #535353; }
    table[id^="cc-table-data"] thead tr .cc-table__product-header {
      background-color: #5b5b5b;
      text-align: center; }
      table[id^="cc-table-data"] thead tr .cc-table__product-header--standard {
        background-color: #535353 !important;
        text-align: center; }
    table[id^="cc-table-data"] thead tr th {
      color: white;
      font-size: 0.8rem;
      font-weight: 400;
      padding: 12px 18px 10px 16px;
      vertical-align: middle;
      text-align: left;
      text-transform: uppercase;
      border-bottom: 2px solid #dee2e6; }
      table[id^="cc-table-data"] thead tr th.text-right-padding {
        padding-right: 1.5rem !important;
        text-align: right !important; }
      table[id^="cc-table-data"] thead tr th.border-l {
        border-left: 2px solid #535353 !important; }
      table[id^="cc-table-data"] thead tr th.border-r {
        border-right: 2px solid #535353 !important; }
      table[id^="cc-table-data"] thead tr th.sorting_asc, table[id^="cc-table-data"] thead tr th.sorting_desc {
        background-color: rgba(0, 0, 0, 0.5); }
      table[id^="cc-table-data"] thead tr th.sorting, table[id^="cc-table-data"] thead tr th.sorting_asc, table[id^="cc-table-data"] thead tr th.sorting_desc {
        background-position: 97% 50%; }
      table[id^="cc-table-data"] thead tr th.sorting {
        background-image: url("../images/icons/sort_both.png"); }
      table[id^="cc-table-data"] thead tr th.sorting_asc {
        background-image: url("../images/icons/sort_asc.png"); }
      table[id^="cc-table-data"] thead tr th.sorting_desc {
        background-image: url("../images/icons/sort_desc.png"); }
      table[id^="cc-table-data"] thead tr th.cc-table__product-icon, table[id^="cc-table-data"] thead tr th.cc-table__product-icon--standard {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        font-size: 0.6rem;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 1rem;
        border-top: 1px solid transparent; }
        table[id^="cc-table-data"] thead tr th.cc-table__product-icon i, table[id^="cc-table-data"] thead tr th.cc-table__product-icon--standard i {
          font-size: 1.1rem;
          color: #f47421; }
        table[id^="cc-table-data"] thead tr th.cc-table__product-icon img, table[id^="cc-table-data"] thead tr th.cc-table__product-icon--standard img {
          width: 15px; }
        table[id^="cc-table-data"] thead tr th.cc-table__product-icon.not-available, table[id^="cc-table-data"] thead tr th.cc-table__product-icon--standard.not-available {
          color: #999999; }
          table[id^="cc-table-data"] thead tr th.cc-table__product-icon.not-available i, table[id^="cc-table-data"] thead tr th.cc-table__product-icon--standard.not-available i {
            color: #999999; }
        table[id^="cc-table-data"] thead tr th.cc-table__product-icon.fixed-width, table[id^="cc-table-data"] thead tr th.cc-table__product-icon--standard.fixed-width {
          width: 66px !important; }
      table[id^="cc-table-data"] thead tr th.cc-table__product-icon--standard {
        background-color: #ffffff;
        color: #09600d;
        border-left: 1px solid #dee2e6; }
      table[id^="cc-table-data"] thead tr th.cc-table__product-description, table[id^="cc-table-data"] thead tr th.cc-table__product-empty {
        border-top: none;
        border-bottom: none;
        padding: 0; }
      table[id^="cc-table-data"] thead tr th.cc-table__product-description {
        text-align: center; }
        table[id^="cc-table-data"] thead tr th.cc-table__product-description span {
          position: relative;
          top: 6px; }
      table[id^="cc-table-data"] thead tr th.cc-table__product-empty {
        background-color: #eff2f3; }
      table[id^="cc-table-data"] thead tr th.cc-table__border-left {
        border-left: 1px solid #dee2e6; }
  table[id^="cc-table-data"] tbody tr {
    background-color: #ffffff; }
    table[id^="cc-table-data"] tbody tr.cc-table__gradient-row {
      background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #f6f6f6 100%); }
    table[id^="cc-table-data"] tbody tr td {
      font-size: 0.9rem;
      padding: 12px 18px 10px 16px;
      vertical-align: middle;
      text-align: left;
      border-top: 1px solid #dee2e6; }
      table[id^="cc-table-data"] tbody tr td > a {
        color: #00529c; }
      table[id^="cc-table-data"] tbody tr td.cc-table__product-data {
        text-align: center;
        border-left: 1px solid #ffffff;
        background-color: rgba(244, 116, 33, 0.07); }
      table[id^="cc-table-data"] tbody tr td.cc-table__product-data--standard {
        text-align: center;
        border-left: 1px solid #dee2e6; }
      table[id^="cc-table-data"] tbody tr td.border-l {
        border-left: 2px solid #444444; }
      table[id^="cc-table-data"] tbody tr td.border-r {
        border-right: 2px solid #444444; }
  table[id^="cc-table-data"] tbody.cc-table__clickable tr:hover {
    background-color: #e9f4ff;
    cursor: pointer; }
  table[id^="cc-table-data"] tbody.cc-table-striped tr:nth-of-type(odd) {
    background-color: #ffffff; }
  table[id^="cc-table-data"] tbody.cc-table-striped tr:nth-of-type(even) {
    background-color: #eff2f3; }
  table[id^="cc-table-data"] tbody.cc-table-striped tr td {
    border-top: 1px solid transparent; }
  table[id^="cc-table-data"] tbody.cc-table__census tr.cc-table__census--family-member td {
    border-top: 1px solid #ffffff !important; }
    table[id^="cc-table-data"] tbody.cc-table__census tr.cc-table__census--family-member td i {
      color: #f47421;
      font-weight: 600; }
  table[id^="cc-table-data"] .cc-table__td-action {
    text-align: right; }
    table[id^="cc-table-data"] .cc-table__td-action .cc-table__td-dropdown .btn {
      min-width: 98px;
      height: 34px;
      padding: 0 2px;
      font-size: 12px;
      font-weight: 600;
      background-color: white;
      border-style: solid;
      border-width: 1px;
      transition: all 0.3s linear;
      box-shadow: none;
      color: #444444;
      color: #00529c;
      border-color: #cccccc; }
      table[id^="cc-table-data"] .cc-table__td-action .cc-table__td-dropdown .btn:focus {
        background-color: #00529c;
        color: white; }
    table[id^="cc-table-data"] .cc-table__td-action .cc-table__td-dropdown a.dropdown-item {
      font-size: 0.9rem; }
      table[id^="cc-table-data"] .cc-table__td-action .cc-table__td-dropdown a.dropdown-item:hover {
        background-color: #E9F4FF; }
  table[id^="cc-table-data"] .cc-table-row-highlight {
    background-color: #FEF5EF; }
  table[id^="cc-table-data"] .cc-table__detail {
    display: block;
    font-size: 0.8rem; }
  table[id^="cc-table-data"] .fa-exclamation-square {
    color: #d86010;
    margin-left: 4px; }
  table[id^="cc-table-data"] i.fa-trash-alt {
    color: #f50000;
    font-size: 1.4rem; }
  table[id^="cc-table-data"] .custom-switch {
    transform: scale(1.3);
    padding-left: 3rem; }
  table[id^="cc-table-data"] .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #00529c;
    background-color: #00529c; }
  table[id^="cc-table-data"] .family-linked {
    padding-left: 2.3rem;
    background-image: url("../images/icons/table-arrow-family.png");
    background-repeat: no-repeat;
    background-position: 1rem 50%;
    background-size: 1rem; }
  table[id^="cc-table-data"] span.badge {
    display: inline-block;
    padding: .35em .4em;
    border-radius: 3px;
    text-transform: uppercase; }
    table[id^="cc-table-data"] span.badge.badge-success {
      background-color: #007bff; }
    table[id^="cc-table-data"] span.badge.badge-light {
      color: #ffffff;
      background-color: #29A745; }
    table[id^="cc-table-data"] span.badge.badge-secondary {
      color: #444;
      background-color: #ffc107; }
    table[id^="cc-table-data"] span.badge.badge-progress {
      border: 1px solid #cccccc;
      color: #444444;
      background-color: #eff2f3; }
  table[id^="cc-table-data"].cc-table-data-form input, table[id^="cc-table-data"].cc-table-data-form select {
    display: inline-block;
    font-size: 0.9rem;
    width: 80%; }
  table[id^="cc-table-data"].cc-table-data-form select.form-control.is-invalid, table[id^="cc-table-data"].cc-table-data-form select.form-control.was-validated, table[id^="cc-table-data"].cc-table-data-form select.form-control:invalid {
    background-image: none; }
  table[id^="cc-table-data"].cc-table-data-form i {
    color: #B90909;
    margin-left: 6px; }
  table[id^="cc-table-data"] [data-toggle="collapse"] i {
    font-size: 1.2rem;
    transform: rotate(90deg);
    transition: 0.25s all ease-in-out; }
    table[id^="cc-table-data"] [data-toggle="collapse"] i:before {
      content: "\f138"; }
  table[id^="cc-table-data"] [data-toggle="collapse"].collapsed i {
    transform: rotate(0deg); }

.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
  margin-bottom: 0.6rem; }
  .dataTables_wrapper .dataTables_filter label {
    text-indent: -56px;
    overflow: hidden; }
    .dataTables_wrapper .dataTables_filter label input {
      background: #fff url("../images/icons/search-icon.png") no-repeat 0 0;
      background-size: 18px;
      background-position: 6px;
      padding-left: 30px;
      width: 320px; }
  .dataTables_wrapper .dataTables_filter input {
    border-radius: 5px;
    min-width: 98px;
    height: 34px;
    padding: 0 2px;
    font-size: 0.9rem;
    font-weight: normal;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    transition: all 0.3s linear;
    box-shadow: none;
    color: #444444;
    border-color: #cccccc;
    margin-left: 0.12em; }
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_paginate {
  color: #444444;
  font-size: 14px;
  padding: 0 !important; }
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length {
  margin: 14px 0; }
.dataTables_wrapper .dataTables_paginate {
  margin: 10px 0; }
.dataTables_wrapper .dataTables_length {
  margin-left: 12px;
  position: relative;
  top: -4px; }
  .dataTables_wrapper .dataTables_length::before {
    content: "|";
    padding-right: 12px; }
  .dataTables_wrapper .dataTables_length select {
    font-size: 13px;
    padding: 4px;
    border-color: #cccccc; }
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: none;
  background-color: transparent;
  color: #444444 !important;
  padding: 3px 10px;
  min-width: 34px; }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    border: 1px solid #dee2e6;
    color: #444444 !important;
    background-color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%); }
  .dataTables_wrapper .dataTables_paginate .paginate_button.next, .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    border: 1px solid transparent; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    color: #444444;
    border-color: #cccccc;
    background: #ffffff; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    opacity: 0.5;
    cursor: not-allowed;
    border: 2px solid transparent; }

.cc-table__cc-pagination {
  padding: 12px 0; }
  .cc-table__cc-pagination .cc-table__cc-pagination--left p {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    color: #444444;
    font-size: 15px; }
  .cc-table__cc-pagination .cc-table__cc-pagination--left .row-numbers {
    display: inline-block;
    padding: 0;
    list-style: none;
    margin: 0 0 0 10px; }
    .cc-table__cc-pagination .cc-table__cc-pagination--left .row-numbers li {
      display: inline-block; }
      .cc-table__cc-pagination .cc-table__cc-pagination--left .row-numbers li a {
        display: block;
        padding: 3px 6px;
        color: #444444;
        border-radius: 5px; }
        .cc-table__cc-pagination .cc-table__cc-pagination--left .row-numbers li a.active {
          border-style: solid;
          border-width: 2px;
          background-color: #ffffff;
          color: #444444;
          border-color: #444444; }
  .cc-table__cc-pagination .cc-table__cc-pagination--right .pagination {
    align-items: center; }
    .cc-table__cc-pagination .cc-table__cc-pagination--right .pagination .page-item + .page-item {
      margin-left: 5px; }
    .cc-table__cc-pagination .cc-table__cc-pagination--right .pagination .page-item .page-link {
      border: none;
      background-color: transparent;
      color: #444444;
      border-radius: 5px;
      padding: 5px 10px;
      min-width: 34px; }
      .cc-table__cc-pagination .cc-table__cc-pagination--right .pagination .page-item .page-link.active {
        border-style: solid;
        border-width: 2px;
        background-color: #ffffff;
        color: #444444;
        border-color: #00529c; }
      .cc-table__cc-pagination .cc-table__cc-pagination--right .pagination .page-item .page-link.disabled {
        opacity: 0.5;
        cursor: not-allowed; }

.datatable-search-form {
  float: right;
  margin-bottom: -36px;
  position: relative;
  z-index: 1; }
  .datatable-search-form label {
    margin-bottom: 0;
    margin-right: 5px; }
    .datatable-search-form label .fa-calendar-alt {
      font-size: 1.3em;
      color: #00529c;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 6px; }
  .datatable-search-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 0.9rem; }
    .datatable-search-form .form-control.date-field {
      width: 120px; }

form.cc-form-inline-form .form-control {
  font-size: 0.9rem; }
form.cc-form-inline-form .fa-calendar-alt {
  font-size: 1.3em;
  color: #00529c;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 6px; }

.custom-checkbox .is-invalid ~ i {
  position: absolute;
  left: 38px;
  top: 5px; }

table.table-lean {
  margin-bottom: 0; }
  table.table-lean td {
    padding: 0 0 0 0.75rem !important; }
    table.table-lean td:first-child {
      padding: 0 0 0 0 !important; }

.cc-tag-td {
  position: relative; }
  .cc-tag-td .tag {
    background-color: #00529c;
    color: #fff;
    padding: 3px 16px;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 4px 4px 0;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10px 50%, 0% 0%); }

.plan-table {
  border-collapse: separate;
  border-spacing: 10px 0; }
  .plan-table thead .plan-td.active {
    border-top: 1px solid #dee2e6; }
    .plan-table thead .plan-td.active .cc-card {
      background-color: transparent; }
  .plan-table .plan-td.active {
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6; }
  .plan-table .plan-td.highlight {
    background-color: #FEF5EF; }
  .plan-table tbody tr:last-child .plan-td.active {
    border-bottom: 1px solid #dee2e6; }

[id^=cc-form__] #same_address-error,
[id^=cc-form__] #billing-error,
[id^=cc-form__] #AgreeDisagree1-error,
[id^=cc-form__] #AgreeDisagree2-error,
[id^=cc-form__] #AgreeDisagree3-error,
[id^=cc-form__] #AgreeDisagree4-error {
  display: none !important; }
[id^=cc-form__] .form-control-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  [id^=cc-form__] .form-control-wrap input {
    padding-left: 20px;
    color: #929292; }
  [id^=cc-form__] .form-control-wrap span.currency {
    position: absolute;
    top: 2px;
    left: 6px;
    font-size: 22px;
    color: #777777; }
[id^=cc-form__] .form-group label {
  margin-bottom: .015rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #4e4e4e;
  padding-left: 0.05rem; }
  [id^=cc-form__] .form-group label.custom-control-label {
    font-weight: 400;
    text-transform: none;
    padding-top: 2px;
    font-size: 0.9rem; }
  [id^=cc-form__] .form-group label.is-invalid {
    color: red;
    text-transform: initial;
    font-weight: 400; }
[id^=cc-form__] .form-group small {
  padding-left: 0.05rem; }
[id^=cc-form__] .form-group .cc-showhidepwd {
  display: flex;
  justify-content: space-between; }
[id^=cc-form__] .form-group .form-control::-webkit-input-placeholder {
  color: #bbb; }
[id^=cc-form__] .form-group select.form-control.is-invalid, [id^=cc-form__] .form-group select.form-control.was-validated, [id^=cc-form__] .form-group select.form-control:invalid {
  background-image: none; }
[id^=cc-form__] .form-group input[type=search] {
  background: #fff url("../images/icons/search-icon.png") no-repeat 0 0;
  background-size: 18px;
  background-position: 6px;
  padding-left: 30px; }
[id^=cc-form__] .form-group input[type=password]::-ms-reveal,
[id^=cc-form__] .form-group input[type=password]::-ms-clear {
  display: none; }
[id^=cc-form__] .custom-checkbox label.is-invalid {
  display: none !important; }

.file-upload-box {
  height: 200px;
  background-color: #fff;
  border: 2px dashed #cccccc;
  display: flex;
  align-items: center;
  justify-content: center; }
  .file-upload-box .upload-icon {
    font-size: 25px;
    margin-right: 15px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    line-height: 60px;
    text-align: center; }
  .file-upload-box .media-body p {
    margin-bottom: 5px; }

.summary-list {
  list-style: none;
  padding: 0; }
  .summary-list li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #8e8e8e;
    padding: 5px; }
    .summary-list li:before {
      content: '';
      width: 12px;
      height: 12px;
      background-color: #00529c;
      margin-right: 8px; }
    .summary-list li span {
      margin-left: auto; }
    .summary-list li:last-child {
      color: #00529c;
      border-color: #8f8f8f;
      font-weight: 600; }
      .summary-list li:last-child:before {
        display: none; }

.summary-list-last p {
  color: #959595;
  margin: 0; }

.cc-summary h3, .cc-card-wrapper h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem; }
  .cc-summary h3 + p, .cc-card-wrapper h3 + p {
    margin-top: -16px;
    font-size: 0.9rem; }

.card-ribbon {
  position: absolute;
  overflow: hidden;
  top: -10px;
  right: -10px;
  width: 114px;
  height: 112px; }
  .card-ribbon span {
    position: absolute;
    display: block;
    width: 160px;
    padding: 10px 0;
    background-color: #3498db;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    right: -35px;
    top: 25px;
    transform: rotate(45deg); }
  .card-ribbon::before, .card-ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
    border-top-color: transparent;
    border-right-color: transparent; }
  .card-ribbon::before {
    top: 0;
    left: 0; }
  .card-ribbon::after {
    bottom: 0;
    right: 0; }

.cc-card {
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 12px;
  background-color: #ffffff;
  font-size: 0.9rem;
  transition: 0.25s all ease-in-out;
  position: relative;
  /*
  &:hover {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1);
    transform: translate(-1px,-1px);
  }
  */ }
  .cc-card.large {
    padding: 32px; }
  .cc-card.selected {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.1); }
  .cc-card.muted {
    background-color: rgba(255, 255, 255, 0.5); }
  .cc-card.empty {
    background-color: transparent; }
    .cc-card.empty span.muted {
      color: #444444;
      font-size: 1.4rem;
      font-weight: 600; }
  .cc-card.highlight {
    background-color: #ffffff;
    border-left: 5px solid #00529c; }
  .cc-card h4 {
    font-size: 0.9rem;
    margin-bottom: .75rem;
    color: #444444; }
  .cc-card h5 {
    font-size: 1.8rem;
    color: #444444;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.2rem; }
  .cc-card .media {
    margin-bottom: 20px; }
    .cc-card .media i {
      color: #00529c;
      font-size: 1.6rem;
      margin-right: 1.0rem; }
    .cc-card .media .media-body {
      border-bottom: 1px solid #dfe7ea; }
      .cc-card .media .media-body h5 {
        color: #444444;
        font-size: 1.2rem; }
  .cc-card.history-card {
    position: relative;
    padding: 16px 24px;
    min-height: 7.6rem; }
    .cc-card.history-card .details-right p {
      font-size: 12px;
      margin-bottom: 0; }
      .cc-card.history-card .details-right p b {
        color: #000; }
      .cc-card.history-card .details-right p.date-time {
        font-size: 14px; }
    .cc-card.history-card .details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 12px;
      min-height: 42px; }
      .cc-card.history-card .details > span,
      .cc-card.history-card .details > a {
        width: 50%;
        display: inline-block; }
        .cc-card.history-card .details > span i,
        .cc-card.history-card .details > a i {
          margin-right: 4px;
          color: #00529c; }
    .cc-card.history-card a.btn {
      margin: 22px 0 12px;
      text-transform: uppercase; }
      .cc-card.history-card a.btn i {
        margin-right: 4px; }

.cc-confirmation {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  padding: 0;
  background-color: #ffffff; }
  .cc-confirmation-header {
    padding: 12px 0;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0; }
  .cc-confirmation-body {
    padding: 40px 55px 24px; }
    .cc-confirmation-body img {
      margin-bottom: 5px; }
    .cc-confirmation-body h5 {
      margin-bottom: 35px; }
    .cc-confirmation-body-info {
      margin-top: 24px; }
    .cc-confirmation-body-message {
      margin-top: 24px;
      text-align: left; }
  .cc-confirmation-footer {
    padding: 0 55px 40px; }
    .cc-confirmation-footer a.btn {
      display: block;
      width: 100%;
      margin-bottom: .75rem; }

.bg-w {
  background-color: #ffffff !important; }

.bg-g {
  background-color: #f6f6f6 !important; }

hr.break {
  margin: 48px 0; }

p.smalltext {
  font-size: 0.8rem; }

.cc-font-normal {
  font-weight: 400 !important; }

.cc-text-no-transform {
  text-transform: none !important; }

i.fa-trash-alt {
  color: #f47421; }

i.fa-file-pdf {
  color: #00529c; }

.cc-w10 {
  width: 10% !important; }
.cc-w20 {
  width: 20% !important; }
.cc-w30 {
  width: 30% !important; }
.cc-w40 {
  width: 40% !important; }
.cc-w50 {
  width: 50% !important; }
.cc-w55 {
  width: 55% !important; }
.cc-w60 {
  width: 60% !important; }
.cc-w65 {
  width: 65% !important; }
.cc-w70 {
  width: 70% !important; }
.cc-w75 {
  width: 75% !important; }
.cc-w80 {
  width: 80% !important; }
.cc-w85 {
  width: 85% !important; }
.cc-w90 {
  width: 90% !important; }

.empty-state {
  background-color: #ffffff;
  min-height: 240px;
  display: grid;
  place-items: center; }
  .empty-state h3 {
    color: #cccccc; }

.cc-form_employ-application .form-group .d-flex .form-control {
  width: auto; }
.cc-form_employ-application .form-group a {
  text-decoration: underline; }
.cc-form_employ-application .form-group select {
  text-transform: uppercase; }
.cc-form_employ-application .form-group i {
  font-size: 22px;
  margin-top: 6px; }

.cc-modal-showed {
  overflow: hidden; }

.cc-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 998;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.cc-modal {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 720px;
  height: 100%;
  z-index: 999;
  transform: translate(100%, 0);
  transition: 1s;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5); }
  .cc-modal-inner {
    overflow-y: auto;
    height: 100%;
    padding: 24px 32px 160px; }
    .cc-modal-inner::-webkit-scrollbar {
      width: 5px; }
    .cc-modal-inner::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .cc-modal-inner::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.6); }
  .cc-modal-close {
    float: right;
    cursor: pointer; }
  .cc-modal-header {
    background-color: #535353;
    color: #ffffff;
    padding: 12px 32px 4px; }
    .cc-modal-header h5 {
      color: #ffffff; }
  .cc-modal-footer {
    padding: 16px 32px 14px 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); }
    .cc-modal-footer.fixed {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #fff; }
  .cc-modal .form-control-counter {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; }
    .cc-modal .form-control-counter .fa {
      width: 25px;
      height: 25px;
      font-size: 12px;
      text-align: center;
      line-height: 25px;
      cursor: pointer; }
    .cc-modal .form-control-counter .fa-plus, .cc-modal .form-control-counter .fa-minus {
      border: 1px solid #ddd;
      border-radius: 50%; }
    .cc-modal .form-control-counter .form-control {
      border: none;
      padding: 5px;
      width: 30px;
      text-align: center;
      background-color: transparent; }
  .cc-modal.show {
    transform: translate(0, 0); }

.cc-confirmation-modal {
  display: none; }
  .cc-confirmation-modal .cc-confirmation {
    max-width: auto; }
    .cc-confirmation-modal .cc-confirmation .cc-confirmation-body,
    .cc-confirmation-modal .cc-confirmation .cc-confirmation-footer {
      background-color: #fff; }

.cc-overview-intro .media i.fal {
  color: #00529c;
  font-size: 2.0rem;
  margin-right: 1rem; }
.cc-overview-intro .media .media-body h6 {
  margin-top: 0.35rem; }
.cc-overview-intro hr {
  margin-bottom: 2.6rem; }

.table-files-list {
  list-style: none;
  margin: 0;
  padding: 12px 18px 10px 71px; }
  .table-files-list li {
    display: inline-block;
    padding: 2px 16px;
    border-left: 1px solid #dddddd;
    vertical-align: middle; }
    .table-files-list li:first-child {
      border-left: none;
      padding-left: 0; }
    .table-files-list li p {
      margin: 0; }
    .table-files-list li a i {
      margin-right: 5px; }

.quote-includes {
  padding: 1rem 0 0; }
  .quote-includes .row {
    text-align: center; }
  .quote-includes i {
    font-size: 2rem;
    color: #00529c;
    margin-bottom: 0.2rem; }
  .quote-includes h4 {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: capitalize;
    color: #444;
    margin-bottom: 0; }
  .quote-includes ul {
    padding: 0;
    margin: 0; }
    .quote-includes ul li {
      list-style: none;
      font-size: 16px;
      font-weight: 400; }
      .quote-includes ul li + li {
        margin-top: 15px; }

.quote-optional ._right label {
  font-weight: 400;
  font-size: 14px; }
.quote-optional ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  .quote-optional ul li {
    padding: 14px 18px;
    background: #fbfbfb; }
    .quote-optional ul li label {
      color: #2e343d;
      text-transform: capitalize;
      font-size: 15px;
      font-weight: 400; }
    .quote-optional ul li.active {
      background: #F8F9FB; }
    .quote-optional ul li + li {
      margin-top: 4px; }

.info-section .info-box {
  padding-left: 15px; }
  .info-section .info-box i {
    display: flex;
    font-size: 24px;
    margin-right: 12px;
    color: #00529c; }
  .info-section .info-box h4 {
    font-size: 1.2rem;
    margin-bottom: 12px; }
  .info-section .info-box p {
    font-size: 14px;
    color: #2e343d;
    margin: 0; }

.delivery-email h4 {
  color: #2e343d;
  font-size: 1.1rem;
  margin-bottom: 0.25rem; }
.delivery-email .form-control {
  width: 51%;
  font-size: 14px;
  color: #6e6e6e; }
.delivery-email p {
  color: #75777a;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 12px; }

.public-contact-form .form-control {
  border: none;
  border-bottom: 2px solid #75777a;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  line-height: 41px;
  height: auto;
  color: #75777a; }
.public-contact-form .radio-options > * {
  vertical-align: middle; }
.public-contact-form .custom-control-label::before {
  border-width: 2px;
  border-color: #78777a;
  background-color: #f2f4f5;
  width: 16px;
  height: 16px; }

.main-footer {
  background-color: #2e343d; }
  .main-footer p {
    color: #acb8ca; }
  .main-footer .footer-logo {
    max-width: 280px;
    margin-bottom: 35px; }
  .main-footer .footer-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 22px 0 40px; }
    .main-footer .footer-nav a {
      color: #acb8ca; }
  .main-footer .footer-top {
    padding: 35px 0 25px;
    border-bottom: 1px solid rgba(230, 231, 232, 0.25); }
    .main-footer .footer-top p {
      margin: 0; }
  .main-footer .copyright {
    margin: 0; }
  .main-footer .footer-bottom {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    vertical-align: middle; }
    .main-footer .footer-bottom .social-list a {
      color: #acb8ca;
      display: inline-block;
      font-size: 24px; }
      .main-footer .footer-bottom .social-list a + a {
        margin-left: 12px; }

.cc-public-content-template {
  /* cc-content-template-outer-wrapper */ }
  .cc-public-content-template a:not(.btn) {
    color: #0098D6;
    font-weight: 600; }
  .cc-public-content-template section.cc-content-template-hero {
    background: transparent url("../images/public-layout/public-banner.jpg") no-repeat 50% 0%;
    height: 50vh;
    background-size: cover; }
  .cc-public-content-template section.cc-content-template-outer-wrapper {
    padding: 82px 0; }
    .cc-public-content-template section.cc-content-template-outer-wrapper h1 {
      color: #0098D6;
      font-size: 56px;
      font-weight: 600;
      margin-bottom: 2.5rem;
      text-align: center; }
    .cc-public-content-template section.cc-content-template-outer-wrapper h2 {
      color: #2e343d;
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 2.5rem;
      text-align: center; }
    .cc-public-content-template section.cc-content-template-outer-wrapper .media h5 {
      color: #0098D6; }

.employee-requirements .main-avatar {
  max-width: 415px;
  margin: -45px auto 85px;
  display: block; }
.employee-requirements .employee-requirement-box {
  text-align: center;
  position: relative; }
  @media only screen and (max-width: 991.98px) {
    .employee-requirements .employee-requirement-box {
      margin-bottom: 52px; } }
  .employee-requirements .employee-requirement-box .dots {
    position: absolute; }
    @media only screen and (max-width: 991.98px) {
      .employee-requirements .employee-requirement-box .dots {
        display: none; } }
  .employee-requirements .employee-requirement-box .icon {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    text-align: center;
    line-height: 180px;
    margin-bottom: 40px;
    display: inline-block; }
    @media only screen and (max-width: 991.98px) {
      .employee-requirements .employee-requirement-box .icon {
        margin-bottom: 16px; } }
    .employee-requirements .employee-requirement-box .icon img {
      width: 100px; }
  .employee-requirements .employee-requirement-box.light-blue .dots {
    width: 190px;
    left: 74%;
    bottom: 100%; }
  .employee-requirements .employee-requirement-box.light-blue .icon {
    background-color: #0099d9; }
  .employee-requirements .employee-requirement-box.blue .dots {
    width: 36px;
    left: 60%;
    bottom: 104%; }
  .employee-requirements .employee-requirement-box.blue .icon {
    background-color: #00529c; }
  .employee-requirements .employee-requirement-box.green .dots {
    width: 36px;
    right: 60%;
    bottom: 104%; }
  .employee-requirements .employee-requirement-box.green .icon {
    background-color: #9ecb3b; }
  .employee-requirements .employee-requirement-box.orange .dots {
    width: 190px;
    right: 74%;
    bottom: 100%; }
  .employee-requirements .employee-requirement-box.orange .icon {
    background-color: #f47321; }

.cc-bordered-box {
  border: 2px solid #f2f4f5;
  padding: 34px; }

.cc-white-box {
  background-color: white;
  padding: 34px;
  margin-bottom: 30px;
  min-height: 120px;
  width: 100%; }
  .cc-white-box ul {
    height: 50px;
    overflow: hidden;
    padding: 0;
    margin: 0; }

.cc-quote-bg {
  background: #0098D6 url("../images/public-layout/quote-bg.png") no-repeat 50% 50%;
  background-size: cover;
  padding: 40px;
  text-align: center; }
  .cc-quote-bg p {
    margin: 0;
    font-size: 31px;
    color: #ffffff;
    font-style: italic; }

/*.dropdown{
  &.w-100{
    .btn{
      width: 100%;
      text-align: left;
      padding-left: 16px;
      padding-right: 16px;
      &:after {
        float: right;
        margin-top: 8px;
      }
    }
  }
}
*/
.cc-flex-row {
  display: flex;
  justify-content: space-between; }
  .cc-flex-row div.cc-flex-item {
    margin: 0 12px;
    width: 100%; }
    .cc-flex-row div.cc-flex-item:first-child {
      margin-left: 0; }
    .cc-flex-row div.cc-flex-item:last-child {
      margin-right: 0; }
    .cc-flex-row div.cc-flex-item .cc-card {
      height: 100%;
      flex: 1 0 auto; }

a.radio-row {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #efefef;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 12px 18px;
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-position: calc(100% - 18px) 50%;
  color: #00529c;
  transition: all 0.3s ease 0s; }
  a.radio-row:hover, a.radio-row:focus, a.radio-row:active, a.radio-row.selected {
    background-color: #0098D6;
    color: #ffffff; }
  a.radio-row:not(.selected):hover {
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    color: #00529c; }

i.fa-calendar-alt {
  color: #00529c;
  font-size: 1.3rem;
  vertical-align: middle; }

.metaltier-header {
  height: 100px;
  box-shadow: 0 19px 19px -28px rgba(0, 0, 0, 0.3);
  margin-bottom: 34px; }

.metaltier-action a.btn {
  display: block;
  width: 100%;
  margin-bottom: .75rem; }

.cc-contribution .contribution-header {
  height: 134px;
  box-shadow: 0 19px 19px -28px rgba(0, 0, 0, 0.3);
  margin-bottom: 32px;
  padding: 0 8px; }
  .cc-contribution .contribution-header p {
    font-size: 0.8rem; }
.cc-contribution .cc-card h5 {
  font-size: 1.3rem;
  margin-bottom: 12px; }

.cost-forms .or-circle {
  background-color: #0098D6;
  color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 18px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; }
.cost-forms .form-group label {
  font-weight: 300; }
.cost-forms hr {
  margin-left: -32px;
  margin-right: -32px; }

.cc-optional-benefits .cc-flex-item .custom-checkbox {
  padding-left: 30px;
  margin-bottom: 8px; }
  .cc-optional-benefits .cc-flex-item .custom-checkbox .custom-control-label {
    font-size: 1rem;
    font-weight: 700; }
    .cc-optional-benefits .cc-flex-item .custom-checkbox .custom-control-label::before, .cc-optional-benefits .cc-flex-item .custom-checkbox .custom-control-label::after {
      left: -30px; }
.cc-optional-benefits .cc-flex-item p {
  font-size: 0.8rem;
  margin-left: 30px; }

.optional-benefits-body .custom-checkbox .custom-control-label::before {
  border-radius: 0; }

.th-progress {
  width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .th-progress span {
    font-size: 0.8rem;
    padding: 0.25rem;
    border: 1px solid #ffffff;
    background-color: #09600d;
    color: #ffffff;
    border-radius: 2px; }

.progress-step {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 9px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: -10px; }
  .progress-step.first {
    left: -10px; }
  .progress-step.second {
    left: 50%;
    margin-left: -10px; }
  .progress-step.third {
    right: -10px; }
  .progress-step.active {
    color: #fff;
    border-color: #09600d;
    background-color: #09600d; }

.ole-progress {
  width: 200px;
  margin: 0 auto;
  height: 3px;
  background-color: #dadada;
  overflow: visible;
  position: relative; }
  .ole-progress .progress-bar {
    background-color: #aaaaaa; }
  .ole-progress.vertical {
    width: 3px;
    height: 200px; }
    .ole-progress.vertical .progress-bar {
      width: 100%; }
    .ole-progress.vertical .progress-step {
      left: -9px; }
      .ole-progress.vertical .progress-step.first {
        top: -10px; }
      .ole-progress.vertical .progress-step.second {
        top: 50%;
        margin-top: -10px;
        margin-left: 0; }
      .ole-progress.vertical .progress-step.third {
        bottom: -10px;
        right: auto;
        top: auto; }

.data-tables-top {
  display: inline-block;
  margin-left: auto;
  float: right;
  margin-bottom: -38px;
  position: relative;
  z-index: 1; }
  .data-tables-top .data-tables-top-action.btn-group .btn {
    padding: 5px 16px 4px;
    color: #000; }

.progress-widget {
  position: relative;
  padding-left: 22px; }
  .progress-widget ul {
    list-style: none;
    padding: 0; }
    .progress-widget ul li .media {
      margin-bottom: 10px; }
      .progress-widget ul li .media .media-body {
        padding-bottom: 10px;
        border-bottom: 1px solid #dfe7ea; }
  .progress-widget .ole-progress {
    position: absolute;
    left: 3px;
    top: 11px;
    height: 166px; }

.management-detail-page .cc-card .media {
  margin-top: 10px;
  margin-bottom: 10px; }
  .management-detail-page .cc-card .media span i {
    color: #00529c;
    font-size: 20px;
    margin-right: .50rem; }
  .management-detail-page .cc-card .media .media-body {
    border-bottom: none; }
.management-detail-page .cc-table__td-action .cc-table__td-dropdown button.btn {
  text-align: left;
  font-weight: 400;
  width: 100%;
  color: #00529c;
  padding-left: 10px; }
  .management-detail-page .cc-table__td-action .cc-table__td-dropdown button.btn:after {
    float: right;
    margin-top: 8px;
    margin-right: 7px; }
.management-detail-page .ole-management-right-widgets .date p {
  margin-bottom: 4px; }
  .management-detail-page .ole-management-right-widgets .date p:last-child {
    margin-bottom: 0; }
.management-detail-page .ole-management-right-widgets .completed span {
  height: 45px;
  width: 60px;
  border-radius: 5px;
  background-color: #007000;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
.management-detail-page .ole-management-right-widgets .remaining span {
  height: 45px;
  width: 60px;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #444444;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
.management-detail-page .ole-management-right-widgets .days-left p {
  margin: 0; }
.management-detail-page .ole-management-right-widgets .days-left span {
  height: 45px;
  width: 60px;
  border-radius: 5px;
  background-color: #F5DB1F;
  color: #444444;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
.management-detail-page .ole-management-right-widgets .summary-table thead tr th {
  border-top: none; }
.management-detail-page .ole-management-right-widgets .summary-table tbody tr td {
  font-size: 11px; }
  .management-detail-page .ole-management-right-widgets .summary-table tbody tr td i {
    font-size: 14px; }
  .management-detail-page .ole-management-right-widgets .summary-table tbody tr td a {
    font-size: 13px;
    text-decoration: underline;
    color: #000; }
    .management-detail-page .ole-management-right-widgets .summary-table tbody tr td a i {
      font-size: 14px; }
.management-detail-page .information-statuses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .management-detail-page .information-statuses .status-item {
    flex: 1 1 auto;
    padding: 0 5px;
    margin: 0 5px;
    width: 18%;
    border-right: 1px solid #dfe7ea; }
    .management-detail-page .information-statuses .status-item:last-child {
      border-right: none; }
    .management-detail-page .information-statuses .status-item .number {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.4em; }
    .management-detail-page .information-statuses .status-item p {
      margin: 0;
      text-transform: uppercase; }

a.census-info-dependents i.far {
  font-size: 1.0rem;
  margin-right: 4px; }

.census-info {
  padding: 2px 0 0 40px; }
  .census-info p {
    font-size: 0.8rem; }
    .census-info p span {
      min-width: 15.5%;
      display: inline-block;
      font-weight: 600; }

.question-p p {
  font-size: 0.9rem; }

/*

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }

*/

/*# sourceMappingURL=demo.css.map */
