@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro:700|Open+Sans&display=swap');

//GLOBAL
@import "variables";
@import "mixins";
@import "global";
@import "header";

//BLOCKS
@import "blocks/tables";
@import "blocks/forms";
@import "blocks/sections";
@import "blocks/cards";
@import "blocks/confirmation";
@import "blocks/helpers";
@import "blocks/er-ole-application";
@import "blocks/modals";

//PAGES
@import "_pages";
@import "_marketing-cms";
@import "_ole";
//@import "pages/contribution";

//PLUGINS
//@import "plugins/xxx";

//OVERRIDES
@import "shamefuloverride";

/*

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }

*/